DataFactory/pipeline/18Months.json
{
	"name": "18Months",
	"properties": {
		"activities": [
			{
				"name": "DummyCopy",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Truncate Transaction",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT * FROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS \n WHERE transactionID >= @{variables('transid')} and \n  TransactionFiscalDate >= @{variables('datebefore')}\n \norder by transactionID fetch  first 10 rows only;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ACCOUNTNUMBER",
									"type": "Decimal"
								},
								"sink": {
									"name": "AccountNumber",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "ACCOUNTTRANSACTIONNUMBER",
									"type": "Decimal"
								},
								"sink": {
									"name": "AccountTransactionNumber",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "TRANSACTIONID",
									"type": "Decimal"
								},
								"sink": {
									"name": "TransactionID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "TRANSACTIONFISCALDATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "TransactionFiscalDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONDATETIME",
									"type": "DateTime"
								},
								"sink": {
									"name": "TransactionDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONEFFECTIVEDATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "TransactionEffectiveDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONTYPECODE",
									"type": "String"
								},
								"sink": {
									"name": "TransactionTypeCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONTYPE",
									"type": "String"
								},
								"sink": {
									"name": "TransactionType",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONSTATUSCODE",
									"type": "String"
								},
								"sink": {
									"name": "TransactionStatusCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONSTATUS",
									"type": "String"
								},
								"sink": {
									"name": "TransactionStatus",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONDESCRIPTION",
									"type": "String"
								},
								"sink": {
									"name": "TransactionDescription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SUBACCTNBR",
									"type": "Decimal"
								},
								"sink": {
									"name": "SubAcctNbr",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "BALCATCD",
									"type": "String"
								},
								"sink": {
									"name": "BalCatCd",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BALTYPCD",
									"type": "String"
								},
								"sink": {
									"name": "BalTypCd",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BALANCEDESCRIPTION",
									"type": "String"
								},
								"sink": {
									"name": "BalanceDescription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AMOUNT",
									"type": "Double"
								},
								"sink": {
									"name": "Amount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "TRANAMT",
									"type": "Double"
								},
								"sink": {
									"name": "TranAmt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "BALANCE",
									"type": "String"
								},
								"sink": {
									"name": "Balance",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "CHECKNBR",
									"type": "Decimal"
								},
								"sink": {
									"name": "CheckNbr",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "TRACENBR",
									"type": "String"
								},
								"sink": {
									"name": "TraceNbr",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_O_AltraServerConnectivity",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_S_DigitalBankingConectivity",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Fetch min transid",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "SELECT MIN(TRANSACTIONID) AS \"MINTRANSID\" FROM TRANSACTIONS",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_O_AltraServerConnectivity",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Fetch min transid",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "transid",
					"value": {
						"value": "@string(activity('Fetch min transid').output.firstRow.MINTRANSID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Truncate Transaction",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "TRUNCATE TABLE dbo.Transactions;\nselect count(*) from dbo.Transactions",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_S_DigitalBankingConectivity",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "fetch date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select  TRUNC(SYSDATE - 1) - INTERVAL '18' MONTH AS \"18TRANSID\" FROM DUAL ",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_O_AltraServerConnectivity",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "fetch date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "datebefore",
					"value": {
						"value": "@string(activity('fetch date').output.firstRow.18TRANSID)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"TransactionID": {
				"type": "String"
			},
			"transid": {
				"type": "String"
			},
			"datebefore": {
				"type": "String"
			}
		},
		"annotations": []
	}
}