DataFactory/pipeline/18monthsrecord.json
{
	"name": "18monthsrecord",
	"properties": {
		"activities": [
			{
				"name": "Fetch date",
				"description": "Fetch the record 18 months ago",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select  TRUNC(SYSDATE - 1) - INTERVAL '9' MONTH AS transdate FROM DUAL ",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_O_AltraServerConnectivity",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Fetch date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ntransdate",
					"value": {
						"value": "@string(activity('Fetch date').output.firstRow.TRANSDATE)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "fetch transid",
				"description": "fetch the minimum transaction id for 18 months ago",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select  TRUNC(SYSDATE - 2) AS MINTRANSID FROM DUAL",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_O_AltraServerConnectivity",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "fetch transid",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "nmintransid",
					"value": {
						"value": "@string(activity('fetch transid').output.firstRow.MINTRANSID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT * FROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS \n WHERE \n  TransactionFiscalDate> = @{variables('ntransdate')} and \nTransactionFiscalDate> = @{variables('nmintransid')}",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ACCOUNTNUMBER",
									"type": "Decimal"
								},
								"sink": {
									"name": "AccountNumber",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "ACCOUNTTRANSACTIONNUMBER",
									"type": "Decimal"
								},
								"sink": {
									"name": "AccountTransactionNumber",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "TRANSACTIONID",
									"type": "Decimal"
								},
								"sink": {
									"name": "TransactionID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "TRANSACTIONFISCALDATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "TransactionFiscalDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONDATETIME",
									"type": "DateTime"
								},
								"sink": {
									"name": "TransactionDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONEFFECTIVEDATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "TransactionEffectiveDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONTYPECODE",
									"type": "String"
								},
								"sink": {
									"name": "TransactionTypeCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONTYPE",
									"type": "String"
								},
								"sink": {
									"name": "TransactionType",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONSTATUSCODE",
									"type": "String"
								},
								"sink": {
									"name": "TransactionStatusCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONSTATUS",
									"type": "String"
								},
								"sink": {
									"name": "TransactionStatus",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONDESCRIPTION",
									"type": "String"
								},
								"sink": {
									"name": "TransactionDescription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SUBACCTNBR",
									"type": "Decimal"
								},
								"sink": {
									"name": "SubAcctNbr",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "BALCATCD",
									"type": "String"
								},
								"sink": {
									"name": "BalCatCd",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BALTYPCD",
									"type": "String"
								},
								"sink": {
									"name": "BalTypCd",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BALANCEDESCRIPTION",
									"type": "String"
								},
								"sink": {
									"name": "BalanceDescription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "AMOUNT",
									"type": "Double"
								},
								"sink": {
									"name": "Amount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "TRANAMT",
									"type": "Double"
								},
								"sink": {
									"name": "TranAmt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "BALANCE",
									"type": "String"
								},
								"sink": {
									"name": "Balance",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "CHECKNBR",
									"type": "Decimal"
								},
								"sink": {
									"name": "CheckNbr",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "TRACENBR",
									"type": "String"
								},
								"sink": {
									"name": "TraceNbr",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_O_AltraServerConnectivity",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_S_DigitalBankingConectivity",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "TRUNCATE TABLE dbo.Transactions;\nselect count(*) from dbo.Transactions",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_S_DigitalBankingConectivity",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"ntransdate": {
				"type": "String"
			},
			"nmintransid": {
				"type": "String"
			}
		},
		"annotations": []
	}
}