DataFactory/pipeline/Cloned_PL_sampledatapreview.json
{
	"name": "Cloned_PL_sampledatapreview",
	"properties": {
		"activities": [
			{
				"name": "Fetch the last TransId",
				"description": "Fetch the last TransId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_S_DigitalBankingTransactionRecord",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Fetch the last TransId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "transid",
					"value": {
						"value": "@string(activity('Fetch the last TransId').output.firstRow.MAXTRANSID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "TruncateAlertStaging",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_O_AltraServerConnectivity",
						"type": "DatasetReference"
					}
				}
			}
		],
		"concurrency": 1,
		"variables": {
			"transid": {
				"type": "String",
				"defaultValue": "0"
			},
			"subacctnbr": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-02T09:08:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}