DataFactory/pipeline/Cloned_PL_TransactionsTransfersDEV_copy2.json
{
	"name": "Cloned_PL_TransactionsTransfersDEV_copy2",
	"properties": {
		"activities": [
			{
				"name": "Fetch the last TransId",
				"description": "Fetch the last TransId",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlMISource",
						"sqlReaderQuery": "SELECT MAX(TRANSACTIONID) AS MAXTRANSID FROM TRANSACTIONS WITH (NOLOCK)",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_S_TransactionRecord_UAT",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Fetch the last TransId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "transid",
					"value": {
						"value": "@string(activity('Fetch the last TransId').output.firstRow.MAXTRANSID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Transfer_StagingData_Alerts",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "TruncateAlertStaging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlMISource",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AccountNumber",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								},
								"sink": {
									"name": "AccountNumber",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "AccountTransactionNumber",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								},
								"sink": {
									"name": "AccountTransactionNumber",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "TransactionID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								},
								"sink": {
									"name": "TransactionID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "TransactionFiscalDate",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "TransactionFiscalDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "TransactionDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TransactionDateTime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "TransactionEffectiveDate",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "TransactionEffectiveDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "TransactionTypeCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TransactionTypeCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TransactionType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TransactionType",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TransactionStatusCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TransactionStatusCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TransactionStatus",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TransactionStatus",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TransactionDescription",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TransactionDescription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SubAcctNbr",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								},
								"sink": {
									"name": "SubAcctNbr",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "BalCatCd",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "BalCatCd",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BalTypCd",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "BalTypCd",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BalanceDescription",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "BalanceDescription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Amount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 38
								},
								"sink": {
									"name": "Amount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "TranAmt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 38
								},
								"sink": {
									"name": "TranAmt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "Balance",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 38
								},
								"sink": {
									"name": "Balance",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "CheckNbr",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								},
								"sink": {
									"name": "CheckNbr",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 22
								}
							},
							{
								"source": {
									"name": "TraceNbr",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TraceNbr",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_S_Transaction_StagingUAT",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_S_InsertDataToAlerts",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "TruncateAlertStaging",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_S_InsertDataToAlerts",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Insert to AlertTransaction",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Transfer_StagingData_Alerts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "BusinessDataDev",
					"type": "LinkedServiceReference"
				}
			}
		],
		"concurrency": 1,
		"variables": {
			"transid": {
				"type": "String",
				"defaultValue": "0"
			},
			"subacctnbr": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-02T09:08:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}