DataFactory/pipeline/PL_TransactionSource.json
{
	"name": "PL_TransactionSource",
	"properties": {
		"activities": [
			{
				"name": "LastTransactionID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select max(transactionid) as TransID from DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS WHERE transactiondatetime >= TO_DATE('2023-05-26','YYYY-MM-DD')",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_o_TransactionSource",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "cd_oracletofile",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Last TransactionID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select * from DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS fetch first 10 rows only",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ACCOUNTNUMBER",
									"type": "Decimal"
								},
								"sink": {
									"name": "ACCOUNTNUMBER",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ACCOUNTTRANSACTIONNUMBER",
									"type": "Decimal"
								},
								"sink": {
									"name": "ACCOUNTTRANSACTIONNUMBER",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONID",
									"type": "Decimal"
								},
								"sink": {
									"name": "TRANSACTIONID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONFISCALDATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "TRANSACTIONFISCALDATE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONDATETIME",
									"type": "DateTime"
								},
								"sink": {
									"name": "TRANSACTIONDATETIME",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONEFFECTIVEDATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "TRANSACTIONEFFECTIVEDATE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONTYPECODE",
									"type": "String"
								},
								"sink": {
									"name": "TRANSACTIONTYPECODE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONTYPE",
									"type": "String"
								},
								"sink": {
									"name": "TRANSACTIONTYPE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONSTATUSCODE",
									"type": "String"
								},
								"sink": {
									"name": "TRANSACTIONSTATUSCODE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONSTATUS",
									"type": "String"
								},
								"sink": {
									"name": "TRANSACTIONSTATUS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONDESCRIPTION",
									"type": "String"
								},
								"sink": {
									"name": "TRANSACTIONDESCRIPTION",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PRINCIPALAMOUNT",
									"type": "Double"
								},
								"sink": {
									"name": "PRINCIPALAMOUNT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PRINCIPALBALANCE",
									"type": "String"
								},
								"sink": {
									"name": "PRINCIPALBALANCE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LOANINTERESTAMOUNT",
									"type": "Decimal"
								},
								"sink": {
									"name": "LOANINTERESTAMOUNT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "LATECHARGEAMOUNT",
									"type": "Decimal"
								},
								"sink": {
									"name": "LATECHARGEAMOUNT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CHECKNBR",
									"type": "Decimal"
								},
								"sink": {
									"name": "CHECKNBR",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_o_TransactionSource",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set Last TransactionID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LastTransactionID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastTransID",
					"value": {
						"value": "@string(activity('LastTransactionID').output.firstRow.TransID)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"LastTransID": {
				"type": "string",
				"defaultValue": "0"
			}
		},
		"variables": {
			"LastTransID": {
				"type": "String"
			}
		},
		"annotations": []
	}
}