DataFactory/pipeline/PL_Transaction.json
{
	"name": "PL_Transaction",
	"properties": {
		"activities": [
			{
				"name": "LastTransactionID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			},
			{
				"name": "cd_oracletofile",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set Last TransactionID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "select * from DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS fetch first 10 rows only",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ACCOUNTNUMBER",
									"type": "Decimal"
								},
								"sink": {
									"name": "ACCOUNTNUMBER",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ACCOUNTTRANSACTIONNUMBER",
									"type": "Decimal"
								},
								"sink": {
									"name": "ACCOUNTTRANSACTIONNUMBER",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONID",
									"type": "Decimal"
								},
								"sink": {
									"name": "TRANSACTIONID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONFISCALDATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "TRANSACTIONFISCALDATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONDATETIME",
									"type": "DateTime"
								},
								"sink": {
									"name": "TRANSACTIONDATETIME",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONEFFECTIVEDATE",
									"type": "DateTime"
								},
								"sink": {
									"name": "TRANSACTIONEFFECTIVEDATE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONTYPECODE",
									"type": "String"
								},
								"sink": {
									"name": "TRANSACTIONTYPECODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONTYPE",
									"type": "String"
								},
								"sink": {
									"name": "TRANSACTIONTYPE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONSTATUSCODE",
									"type": "String"
								},
								"sink": {
									"name": "TRANSACTIONSTATUSCODE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONSTATUS",
									"type": "String"
								},
								"sink": {
									"name": "TRANSACTIONSTATUS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONDESCRIPTION",
									"type": "String"
								},
								"sink": {
									"name": "TRANSACTIONDESCRIPTION",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PRINCIPALAMOUNT",
									"type": "Double"
								},
								"sink": {
									"name": "PRINCIPALAMOUNT",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PRINCIPALBALANCE",
									"type": "String"
								},
								"sink": {
									"name": "PRINCIPALBALANCE",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LOANINTERESTAMOUNT",
									"type": "Decimal"
								},
								"sink": {
									"name": "LOANINTERESTAMOUNT",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "LATECHARGEAMOUNT",
									"type": "Decimal"
								},
								"sink": {
									"name": "LATECHARGEAMOUNT",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CHECKNBR",
									"type": "Decimal"
								},
								"sink": {
									"name": "CHECKNBR",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_o_TransactionSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dt_TransactionRecord",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('LastTransID')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set Last TransactionID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LastTransactionID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastTransID",
					"value": {
						"value": "@string(activity('LastTransactionID').output.firstRow)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"LastTransID": {
				"type": "string"
			}
		},
		"variables": {
			"LastTransID": {
				"type": "String"
			}
		},
		"annotations": []
	}
}