DataFactory/pipeline/PL_Transaction.json
{
	"name": "PL_Transaction",
	"properties": {
		"activities": [
			{
				"name": "Last transaction ID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT max(TransactionID) from Transactions",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_TransactionDestination",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Last transaction ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT * FROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS where transaction > @activity('Last transaction ID').output.firstRow",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_DBTransactionSource",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"LastTransactionID": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": []
	}
}