DataFactory/pipeline/PL_TransactionIdData.json
{
	"name": "PL_TransactionIdData",
	"properties": {
		"activities": [
			{
				"name": "Max_data_Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "SELECT TRANSACTIONID, MAX(SUBACCTNBR) AS MAX_SUBACCTNBR\nFROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS\nGROUP BY TRANSACTIONID\nORDER BY MAX_SUBACCTNBR DESC",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_O_AltraServerConnectivity",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SelectAll_Records",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Max_data_Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "SELECT *\nFROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS\nWHERE TRANSACTIONID IN '@{activity('Max_data_Lookup').output.TRANSACTIONID}'\nORDER BY SUBACCTNBR",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_O_AltraServerConnectivity",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Count_Records",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SelectAll_Records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "SELECT TRANSACTIONID, COUNT(*) AS RECORD_COUNT\nFROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS\nWHERE TRANSACTIONID = '@{activity('Max_data_Lookup').output.TRANSACTIONID}'\nGROUP BY TRANSACTIONID",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_O_AltraServerConnectivity",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"TRANSACTIONID": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": []
	}
}