DataFactory/pipeline/PL_TransactionIdData.json
{
	"name": "PL_TransactionIdData",
	"properties": {
		"activities": [
			{
				"name": "Get_Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "SELECT TRANSACTIONID,SUBACCTNBR\nFROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS\nWHERE SUBACCTNBR = (\n    SELECT MAX(SUBACCTNBR)\n    FROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS \n)",
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:30:00"
					},
					"dataset": {
						"referenceName": "ds_O_AltraServerConnectivity",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Getdata_fromlookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": "SELECT TRANSACTIONID, COUNT(*) AS TRANSACTION_COUNT\nFROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS\nWHERE TRANSACTIONID = '@{activity('Get_Lookup').output.TRANSACTIONID}'\nGROUP BY TRANSACTIONID\nORDER BY TRANSACTION_COUNT DESC;",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_O_AltraServerConnectivity",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get_Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TRANSACTIONID",
					"value": "@activity('Get_Lookup').output.vaule"
				}
			}
		],
		"variables": {
			"TRANSACTIONID": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": []
	}
}