DataFactory/pipeline/PL_TransactionDestination.json
{
	"name": "PL_TransactionDestination",
	"properties": {
		"activities": [
			{
				"name": "cd_TransactionDestination",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ACCOUNTNUMBER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AccountNumber",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ACCOUNTTRANSACTIONNUMBER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AccountTransactionNumber",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TransactionID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONFISCALDATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TransactionFiscalDate",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONDATETIME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TransactionDateTime",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONEFFECTIVEDATE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TransactionEffectiveDate",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONTYPECODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TransactionTypeCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONTYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TransactionType",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONSTATUSCODE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TransactionStatusCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONSTATUS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TransactionStatus",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONDESCRIPTION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TransactionDescription",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRINCIPALAMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PrincipalAmount",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PRINCIPALBALANCE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PrincipalBalance",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "LOANINTERESTAMOUNT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "LoanInterestAmount",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CHECKNBR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CHECKNBR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_dt_TransactionRecord",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@concat(variables('sourcefilename'),'.csv')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sd_TransactionDestination",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(TRANSACTIONID) as transID FROM Transactions",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sd_TransactionDestination",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set filename",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "sourcefilename",
					"value": {
						"value": "@string(add(int(activity('Lookup1').output.firstRow.transID),1))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"file": {
				"type": "string"
			}
		},
		"variables": {
			"sourcefilename": {
				"type": "String"
			}
		},
		"annotations": []
	}
}