ALT-ADF/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ALT-ADF"
		},
		"Altra_Test_Link_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Altra_Test_Link'",
			"defaultValue": "host=dnatestdb;port=1521;sid=attst1;user id=NEXTLYTRANSACTIONS_RO"
		},
		"BusinessDataDev_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BusinessDataDev'"
		},
		"Dynamic Campaigns_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Dynamic Campaigns'",
			"defaultValue": "Integrated Security=False;Data Source=DWH-DEV.altra.org;Initial Catalog=Nextly;User ID=NextlyMarketing"
		},
		"PromoCode_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'PromoCode'",
			"defaultValue": "Integrated Security=False;Data Source=mrmprdopdb01;Initial Catalog=MRMOAO_Data;User ID=NextlyUser"
		},
		"ALTADFKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://ALTRA-KEYVAULT.vault.azure.net/"
		},
		"ls_transactiondb_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "ALTDevsql01TransactionsDev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_DeleteRecordsBefore18Months')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DeleteRecordsBefore18Months",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SP_DeleteRecordsBefore18Months]"
						},
						"linkedServiceName": {
							"referenceName": "ls_transactiondb",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-06-27T16:27:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_transactiondb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DynamicCampaigns')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyCampaignMembers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncateCampaignMemberStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PartyCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PartyCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "MemberStatusGroup",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MemberStatusGroup",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MembershipOpenDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "MembershipOpenDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "MembershipType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MembershipType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ZIPCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ZIPCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BirthDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "BirthDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "MarketingOptOut",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "MarketingOptOut",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "NewMemberFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "NewMemberFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "OnlineBankingUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "OnlineBankingUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "MobileAppUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "MobileAppUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "QuickAccessUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "QuickAccessUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "EStatementsUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "EStatementsUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "BillPayUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "BillPayUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "ScheduledTransferUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "ScheduledTransferUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "RemoteDepositUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "RemoteDepositUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "SendMoneyUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "SendMoneyUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "MobileWalletUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "MobileWalletUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Region",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BranchNumber",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "BranchNumber",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "BranchName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BranchName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CountryCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CountryCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AFAMemberFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "AFAMemberFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SS_DynamicCampaignMembers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_StagingCampignMembers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyCampaignLoan",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncateCampaignLoanStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "LoanID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LoanID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "PartyCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PartyCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoanStatusGroup",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LoanStatusGroup",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoanFamilyCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LoanFamilyCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoanTypeCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LoanTypeCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoanOpenDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "LoanOpenDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "LoanCloseDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "LoanCloseDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "CurrentBalance",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "CurrentBalance",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										}
									},
									{
										"source": {
											"name": "CreditLimit",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "CreditLimit",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										}
									},
									{
										"source": {
											"name": "LoanMaturityDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "LoanMaturityDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SS_DynamicCampaignLoan",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_StagingCampaignLoan",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyCampaignLoanServices",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncateCampaignLoanServicesStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AsOfDate"
										},
										"sink": {
											"name": "AsOfDate"
										}
									},
									{
										"source": {
											"name": "LoanFamilyCode"
										},
										"sink": {
											"name": "LoanFamilyCode"
										}
									},
									{
										"source": {
											"name": "LoanTypeCode"
										},
										"sink": {
											"name": "LoanTypeCode"
										}
									},
									{
										"source": {
											"name": "LoanTypeDescription"
										},
										"sink": {
											"name": "LoanTypeDescription"
										}
									},
									{
										"source": {
											"name": "BusinessLoanFlag"
										},
										"sink": {
											"name": "BusinessLoanFlag"
										}
									},
									{
										"source": {
											"name": "LoanGroup1"
										},
										"sink": {
											"name": "LoanGroup1"
										}
									},
									{
										"source": {
											"name": "LoanGroup2"
										},
										"sink": {
											"name": "LoanGroup2"
										}
									},
									{
										"source": {
											"name": "LoanGroup3"
										},
										"sink": {
											"name": "LoanGroup3"
										}
									},
									{
										"source": {
											"name": "LoanGroup4"
										},
										"sink": {
											"name": "LoanGroup4"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SS_DynamicCampaignLoanServices",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_StagingCampaignLoanServices",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyCampaignshare",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncateCampaignShareStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ShareID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "PartyCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PartyCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareStatusGroup",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareStatusGroup",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareTypeGroupCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareTypeGroupCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareTypeCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareTypeCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareOpenDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "ShareOpenDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "ShareCloseDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "ShareCloseDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "CurrentBalance",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "CurrentBalance",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										}
									},
									{
										"source": {
											"name": "ShareMaturityDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "ShareMaturityDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SS_DynamicCampaignShare",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_StagingCampaignShare",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyCampaignShareServices",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncateCampaignShareServicesStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "ShareTypeGroupCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareTypeGroupCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareTypeCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareTypeCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareTypeDescription",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareTypeDescription",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessShareFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "BusinessShareFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "ShareGroup1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareGroup1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareGroup2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareGroup2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareGroup3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareGroup3",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareGroup4",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareGroup4",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SS_DynamicCampaignShareServices",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_StagingCampaignShareServices",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "TruncateCampaignMemberStaging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignMemberStaging;\nselect count(*) from CampaignMemberStaging\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_StagingCampignMembers",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignLoanStaging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignLoanStaging;\nselect count(*) from CampaignLoanStaging\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_StagingCampaignLoan",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignLoanServicesStaging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignLoanServicesStaging;\nselect count(*) from CampaignLoanServicesStaging\n\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_StagingCampaignLoanServices",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignShareStaging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignShareStaging;\nselect count(*) from CampaignShareStaging\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_StagingCampaignShare",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignShareServicesStaging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignShareServicesStaging;\nselect count(*) from CampaignShareServicesStaging\n\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_StagingCampaignShareServices",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignMember",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CopyCampaignMembers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignMember;\nselect count(*) from CampaignMember",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DynamicCampaignMember",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignLoan",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CopyCampaignLoan",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignLoan;\nselect count(*) from CampaignLoan",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DynamicCampaignLoan",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignLoanServices",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CopyCampaignLoanServices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignLoanServices;\nselect count(*) from CampaignLoanServices",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DynamicCampaignLoanServices",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignShare",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CopyCampaignshare",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignShare;\nselect count(*) from CampaignShare",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DynamicCampaignShare",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignShareServices",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CopyCampaignShareServices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignShareServices;\nselect count(*) from CampaignShareServices",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DynamicCampaignShareServices",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Sp_InsertMemberStagingToMember",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "TruncateCampaignMember",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertFromCampaignMemberStagingToCampaignMember]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDataDev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Sp_InsertLoanStagingToLoan",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "TruncateCampaignLoan",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertFromCampaignLoanStagingToCampaignLoan]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDataDev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Sp_InsertLoanServicesStagingToLoanServices",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "TruncateCampaignLoanServices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertFromCampaignLoanServicesStagingToCampaignLoanServices]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDataDev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Sp_InsertShareStagingToShare",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "TruncateCampaignShare",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertFromCampaignShareStagingToCampaignShare]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDataDev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Sp_InsertShareServicesStagingToShareServices",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "TruncateCampaignShareServices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertFromcampaignShareServicesStagingToCampaignShareServices]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDataDev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-07-13T09:39:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_SS_DynamicCampaignMembers')]",
				"[concat(variables('factoryId'), '/datasets/ds_S_StagingCampignMembers')]",
				"[concat(variables('factoryId'), '/datasets/ds_SS_DynamicCampaignLoan')]",
				"[concat(variables('factoryId'), '/datasets/ds_S_StagingCampaignLoan')]",
				"[concat(variables('factoryId'), '/datasets/ds_SS_DynamicCampaignLoanServices')]",
				"[concat(variables('factoryId'), '/datasets/ds_S_StagingCampaignLoanServices')]",
				"[concat(variables('factoryId'), '/datasets/ds_SS_DynamicCampaignShare')]",
				"[concat(variables('factoryId'), '/datasets/ds_S_StagingCampaignShare')]",
				"[concat(variables('factoryId'), '/datasets/ds_SS_DynamicCampaignShareServices')]",
				"[concat(variables('factoryId'), '/datasets/ds_S_StagingCampaignShareServices')]",
				"[concat(variables('factoryId'), '/datasets/ds_S_DynamicCampaignMember')]",
				"[concat(variables('factoryId'), '/datasets/ds_S_DynamicCampaignLoan')]",
				"[concat(variables('factoryId'), '/datasets/ds_S_DynamicCampaignLoanServices')]",
				"[concat(variables('factoryId'), '/datasets/ds_S_DynamicCampaignShare')]",
				"[concat(variables('factoryId'), '/datasets/ds_S_DynamicCampaignShareServices')]",
				"[concat(variables('factoryId'), '/linkedServices/BusinessDataDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_InactiveEAgreementNumberDataTransfer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DNA Active Agreement Data Transfor",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate the DNAActiveAgrmntData table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AGREENBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "AGREENBR",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PERSNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "PERSNBR",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BYORGNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "BYORGNBR",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DATELASTMAINT",
											"type": "DateTime"
										},
										"sink": {
											"name": "DATELASTMAINT",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_O_Connectivity_InactiveEagreement",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_InsertDataToActiveAgrmnt",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate the DNAActiveAgrmntData table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE dbo.DNAActiveAgrmntData;\nSELECT COUNT(*) FROM dbo.DNAActiveAgrmntData",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_InsertDataToActiveAgrmnt",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-06-27T16:27:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_O_Connectivity_InactiveEagreement')]",
				"[concat(variables('factoryId'), '/datasets/ds_S_InsertDataToActiveAgrmnt')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_PromocodeReordsTransfer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Source to Staging_Maintenance",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate MiniOAOPromocodeMaintenance_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "PromoCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PromoCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SavingsAccount",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "SavingsAccount",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "CheckingAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "CheckingAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "CertificateAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "CertificateAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "MoneyMarketAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "MoneyMarketAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "PromoType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PromoType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Promotion",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Promotion",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Promo Start Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Promo Start Date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Administrator I",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Administrator I",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Administrator II",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Administrator II",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Approvers Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Approvers Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Expiration Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Expiration Date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Platforms Impacted",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Platforms Impacted",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Age From",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Age From",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Age To",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Age To",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Existing Products",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Existing Products",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Existing Products Checking Types",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Existing Products Checking Types",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Zip Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zip Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Open Office",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Open Office",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Balance History Amount",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Balance History Amount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Balance History Period",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Balance History Period",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Opening Date From",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Opening Date From",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Opening Date To",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Opening Date To",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Transaction Type",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Transaction Type",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Transaction Details",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Transaction Details",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transaction Details Period",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Transaction Details Period",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Completed Date From",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Completed Date From",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Completed Date To",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Completed Date To",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Criteria",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Criteria",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Can Qualify more than once",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Can Qualify more than once",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Reward Type",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Reward Type",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Disclosures",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Disclosures",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transaction Details within",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Transaction Details within",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Rate",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Rate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Promotion Type Youth",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Promotion Type Youth",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Balance History",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Balance History",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Checkings",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Checkings",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Savings",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Savings",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ActiveInactive",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ActiveInactive",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "HubID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "HubID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Promo Category",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Promo Category",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DetailsQualifications",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DetailsQualifications",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Marketing Materials",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Marketing Materials",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Market",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Market",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CreatedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreatedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ModifiedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ModifiedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Reward Amount",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Reward Amount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Minimum Balance",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Minimum Balance",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Aggregate Transaction Amount",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Aggregate Transaction Amount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "New Account Deposit Amount",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "New Account Deposit Amount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Aggregate Days",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Aggregate Days",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Aggregate No",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Aggregate No",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member Status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Member Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Applicable Region or Market",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Applicable Region or Market",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UId",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										},
										"sink": {
											"name": "UId",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Source",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Source",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_ss_PromoCodeMaintenance",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_MiniOAOPromocodeMaintenanceStaging",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate MiniOAOPromocodeMaintenance_Staging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE [dbo].[MiniOAOPromocodeMaintenance_Staging];\nselect count(*) from [dbo].[MiniOAOPromocodeMaintenance_Staging];",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_MiniOAOPromocodeMaintenanceStaging",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate MiniOAOPromoStaticData_Staging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE [dbo].[MiniOAOPromoStaticData_Staging];\r\nselect count(*) from [dbo].[MiniOAOPromoStaticData_Staging];",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_MiniOAOPromoStaticData_Staging",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Copy Source to Staging_Static",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate MiniOAOPromoStaticData_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Display Value",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Display Value",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Group",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Group",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Is Active",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Is Active",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_ss_PromocodeStatic",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_MiniOAOPromoStaticData_Staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_Maintenance",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Source to Staging_Maintenance",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_MiniOAOPromoMaintenanceStagingInserttoMiniOAOPromoMaintenance]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDataDev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_StaticData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Source to Staging_Static",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_MiniOAOPromoStaticDataStagingInserttoMiniOAOPromoStaticData]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDataDev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_ss_PromoCodeMaintenance')]",
				"[concat(variables('factoryId'), '/datasets/ds_S_MiniOAOPromocodeMaintenanceStaging')]",
				"[concat(variables('factoryId'), '/datasets/ds_S_MiniOAOPromoStaticData_Staging')]",
				"[concat(variables('factoryId'), '/datasets/ds_ss_PromocodeStatic')]",
				"[concat(variables('factoryId'), '/linkedServices/BusinessDataDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TransactionTransfer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cd_AltratoDigitalBankingTransfers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate the staging table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT * FROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS WHERE TRANSACTIONID > @{variables('transid')}",
									"type": "Expression"
								},
								"partitionOption": "None",
								"convertDecimalToInteger": false,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ACCOUNTNUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "AccountNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ACCOUNTTRANSACTIONNUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "AccountTransactionNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONID",
											"type": "Decimal"
										},
										"sink": {
											"name": "TransactionID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONFISCALDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionFiscalDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONDATETIME",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionDateTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONEFFECTIVEDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionEffectiveDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONTYPECODE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONTYPE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONSTATUSCODE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionStatusCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONDESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "TransactionDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PRINCIPALAMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "PrincipalAmount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PRINCIPALBALANCE",
											"type": "String"
										},
										"sink": {
											"name": "PrincipalBalance",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LOANINTERESTAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "LoanInterestAmount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CHECKNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "CHECKNBR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LOANESCROWAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "LoanESCrowAmount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_O_AltraServerConnectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_DigitalBankingConectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Fetch the last TransId",
						"description": "Fetch last transaction Id in database",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT MAX(TRANSACTIONID) AS MAXTRANSID FROM TRANSACTIONS",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DigitalBankingConectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Fetch the last TransId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "transid",
							"value": {
								"value": "@string(activity('Fetch the last TransId').output.firstRow.MAXTRANSID)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "sp_InsertTransaction",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cd_AltratoDigitalBankingTransfers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SP_TransactionData]"
						},
						"linkedServiceName": {
							"referenceName": "ls_transactiondb",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Truncate the staging table",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE Transaction_Staging;\nselect count(*) from Transaction_Staging",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DigitalBankingConectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Transfer_StagingData_Alerts",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncateAlertStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AccountNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AccountNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AccountTransactionNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AccountTransactionNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionFiscalDate",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionFiscalDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionDateTime",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionDateTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionEffectiveDate",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionEffectiveDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionSortIndex",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionSortIndex",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PrincipalAmount",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PrincipalAmount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PrincipalBalance",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PrincipalBalance",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LoanInterestAmount",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LoanInterestAmount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_S_DigitalBankingConectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_InsertDataToAlerts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "TruncateAlertStaging",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "cd_AltratoDigitalBankingTransfers",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE Transaction_AlertStaging;\nselect count(*) from Transaction_AlertStaging",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_InsertDataToAlerts",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Insert to AlertTransaction",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transfer_StagingData_Alerts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertTransactionAlertFromStaging]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDataDev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"transid": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-07-05T06:37:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_O_AltraServerConnectivity')]",
				"[concat(variables('factoryId'), '/datasets/ds_S_DigitalBankingConectivity')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_transactiondb')]",
				"[concat(variables('factoryId'), '/datasets/ds_S_InsertDataToAlerts')]",
				"[concat(variables('factoryId'), '/linkedServices/BusinessDataDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_O_AltraServerConnectivity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Altra_Test_Link",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "DNACUSTOM",
					"table": "VW_DIGITALBANKINGTRANSACTIONS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Altra_Test_Link')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_O_Connectivity_InactiveEagreement')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Altra_Test_Link",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "DNACUSTOM",
					"table": "VW_DIGITALBANKINGINACTIVEEAGREEMENTS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Altra_Test_Link')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SS_DynamicCampaignLoan')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Dynamic Campaigns",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "LoanID",
						"type": "varchar"
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "PartyCode",
						"type": "varchar"
					},
					{
						"name": "LoanStatusGroup",
						"type": "varchar"
					},
					{
						"name": "LoanFamilyCode",
						"type": "varchar"
					},
					{
						"name": "LoanTypeCode",
						"type": "varchar"
					},
					{
						"name": "LoanOpenDate",
						"type": "date"
					},
					{
						"name": "LoanCloseDate",
						"type": "date"
					},
					{
						"name": "CurrentBalance",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "CreditLimit",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "LoanMaturityDate",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "mktg",
					"table": "Loan"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Dynamic Campaigns')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SS_DynamicCampaignLoanServices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Dynamic Campaigns",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "LoanFamilyCode",
						"type": "varchar"
					},
					{
						"name": "LoanTypeCode",
						"type": "varchar"
					},
					{
						"name": "LoanTypeDescription",
						"type": "varchar"
					},
					{
						"name": "BusinessLoanFlag",
						"type": "bit"
					},
					{
						"name": "LoanGroup1",
						"type": "varchar"
					},
					{
						"name": "LoanGroup2",
						"type": "varchar"
					},
					{
						"name": "LoanGroup3",
						"type": "varchar"
					},
					{
						"name": "LoanGroup4",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "mktg",
					"table": "LoanServices"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Dynamic Campaigns')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SS_DynamicCampaignMembers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Dynamic Campaigns",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "PartyCode",
						"type": "varchar"
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "MemberStatusGroup",
						"type": "varchar"
					},
					{
						"name": "MembershipOpenDate",
						"type": "date"
					},
					{
						"name": "MembershipType",
						"type": "varchar"
					},
					{
						"name": "Region",
						"type": "varchar"
					},
					{
						"name": "BranchNumber",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BranchName",
						"type": "varchar"
					},
					{
						"name": "ZIPCode",
						"type": "varchar"
					},
					{
						"name": "City",
						"type": "varchar"
					},
					{
						"name": "State",
						"type": "varchar"
					},
					{
						"name": "CountryCode",
						"type": "varchar"
					},
					{
						"name": "BirthDate",
						"type": "date"
					},
					{
						"name": "MarketingOptOut",
						"type": "bit"
					},
					{
						"name": "NewMemberFlag",
						"type": "bit"
					},
					{
						"name": "OnlineBankingUserFlag",
						"type": "bit"
					},
					{
						"name": "MobileAppUserFlag",
						"type": "bit"
					},
					{
						"name": "QuickAccessUserFlag",
						"type": "bit"
					},
					{
						"name": "EStatementsUserFlag",
						"type": "bit"
					},
					{
						"name": "BillPayUserFlag",
						"type": "bit"
					},
					{
						"name": "ScheduledTransferUserFlag",
						"type": "bit"
					},
					{
						"name": "RemoteDepositUserFlag",
						"type": "bit"
					},
					{
						"name": "SendMoneyUserFlag",
						"type": "bit"
					},
					{
						"name": "MobileWalletUserFlag",
						"type": "bit"
					},
					{
						"name": "AFAMemberFlag",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "mktg",
					"table": "Member"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Dynamic Campaigns')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SS_DynamicCampaignShare')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Dynamic Campaigns",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ShareID",
						"type": "varchar"
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "PartyCode",
						"type": "varchar"
					},
					{
						"name": "ShareStatusGroup",
						"type": "varchar"
					},
					{
						"name": "ShareTypeGroupCode",
						"type": "varchar"
					},
					{
						"name": "ShareTypeCode",
						"type": "varchar"
					},
					{
						"name": "ShareOpenDate",
						"type": "date"
					},
					{
						"name": "ShareCloseDate",
						"type": "date"
					},
					{
						"name": "CurrentBalance",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "ShareMaturityDate",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "mktg",
					"table": "Share"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Dynamic Campaigns')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SS_DynamicCampaignShareServices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Dynamic Campaigns",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "ShareTypeGroupCode",
						"type": "varchar"
					},
					{
						"name": "ShareTypeCode",
						"type": "varchar"
					},
					{
						"name": "ShareTypeDescription",
						"type": "varchar"
					},
					{
						"name": "BusinessShareFlag",
						"type": "bit"
					},
					{
						"name": "ShareGroup1",
						"type": "varchar"
					},
					{
						"name": "ShareGroup2",
						"type": "varchar"
					},
					{
						"name": "ShareGroup3",
						"type": "varchar"
					},
					{
						"name": "ShareGroup4",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "mktg",
					"table": "ShareServices"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Dynamic Campaigns')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_DeleteReordsBefore18Months')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_transactiondb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Transactions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_transactiondb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_DigitalBankingConectivity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_transactiondb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "AccountTransactionNumber",
						"type": "nvarchar"
					},
					{
						"name": "TransactionID",
						"type": "nvarchar"
					},
					{
						"name": "TransactionFiscalDate",
						"type": "nvarchar"
					},
					{
						"name": "TransactionDateTime",
						"type": "nvarchar"
					},
					{
						"name": "TransactionEffectiveDate",
						"type": "nvarchar"
					},
					{
						"name": "TransactionTypeCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionType",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatusCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatus",
						"type": "nvarchar"
					},
					{
						"name": "TransactionDescription",
						"type": "nvarchar"
					},
					{
						"name": "TransactionSortIndex",
						"type": "nvarchar"
					},
					{
						"name": "PrincipalAmount",
						"type": "nvarchar"
					},
					{
						"name": "PrincipalBalance",
						"type": "nvarchar"
					},
					{
						"name": "LoanInterestAmount",
						"type": "nvarchar"
					},
					{
						"name": "CURRRTXNSTATCD",
						"type": "nvarchar"
					},
					{
						"name": "CHECKNBR",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Transaction_Staging"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_transactiondb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_DigitalBankingTransactionRecord')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_transactiondb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AccountNumber",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "AccountTransactionNumber",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "TransactionID",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "TransactionFiscalDate",
						"type": "date"
					},
					{
						"name": "TransactionDateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "TransactionEffectiveDate",
						"type": "date"
					},
					{
						"name": "TransactionTypeCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionType",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatusCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatus",
						"type": "nvarchar"
					},
					{
						"name": "TransactionDescription",
						"type": "nvarchar"
					},
					{
						"name": "TransactionSortIndex",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "PrincipalAmount",
						"type": "decimal",
						"precision": 38,
						"scale": 3
					},
					{
						"name": "PrincipalBalance",
						"type": "decimal",
						"precision": 38,
						"scale": 3
					},
					{
						"name": "LoanInterestAmount",
						"type": "decimal",
						"precision": 38,
						"scale": 3
					},
					{
						"name": "CURRRTXNSTATCD",
						"type": "nvarchar"
					},
					{
						"name": "CHECKNBR",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Transactions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_transactiondb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_DynamicCampaignLoan')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDataDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LoanID",
						"type": "varchar"
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "PartyCode",
						"type": "varchar"
					},
					{
						"name": "LoanStatusGroup",
						"type": "varchar"
					},
					{
						"name": "LoanFamilyCode",
						"type": "varchar"
					},
					{
						"name": "LoanTypeCode",
						"type": "varchar"
					},
					{
						"name": "LoanOpenDate",
						"type": "date"
					},
					{
						"name": "LoanCloseDate",
						"type": "date"
					},
					{
						"name": "CurrentBalance",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "CreditLimit",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "LoanMaturityDate",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CampaignLoan"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BusinessDataDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_DynamicCampaignLoanServices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDataDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "LoanFamilyCode",
						"type": "varchar"
					},
					{
						"name": "LoanTypeCode",
						"type": "varchar"
					},
					{
						"name": "LoanTypeDescription",
						"type": "varchar"
					},
					{
						"name": "BusinessLoanFlag",
						"type": "bit"
					},
					{
						"name": "LoanGroup1",
						"type": "varchar"
					},
					{
						"name": "LoanGroup2",
						"type": "varchar"
					},
					{
						"name": "LoanGroup3",
						"type": "varchar"
					},
					{
						"name": "LoanGroup4",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CampaignLoanServices"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BusinessDataDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_DynamicCampaignMember')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDataDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PartyCode",
						"type": "varchar"
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "MemberStatusGroup",
						"type": "varchar"
					},
					{
						"name": "MembershipOpenDate",
						"type": "date"
					},
					{
						"name": "MembershipType",
						"type": "varchar"
					},
					{
						"name": "ZIPCode",
						"type": "varchar"
					},
					{
						"name": "City",
						"type": "varchar"
					},
					{
						"name": "State",
						"type": "varchar"
					},
					{
						"name": "BirthDate",
						"type": "date"
					},
					{
						"name": "MarketingOptOut",
						"type": "bit"
					},
					{
						"name": "NewMemberFlag",
						"type": "bit"
					},
					{
						"name": "OnlineBankingUserFlag",
						"type": "bit"
					},
					{
						"name": "MobileAppUserFlag",
						"type": "bit"
					},
					{
						"name": "QuickAccessUserFlag",
						"type": "bit"
					},
					{
						"name": "EStatementsUserFlag",
						"type": "bit"
					},
					{
						"name": "BillPayUserFlag",
						"type": "bit"
					},
					{
						"name": "ScheduledTransferUserFlag",
						"type": "bit"
					},
					{
						"name": "RemoteDepositUserFlag",
						"type": "bit"
					},
					{
						"name": "SendMoneyUserFlag",
						"type": "bit"
					},
					{
						"name": "MobileWalletUserFlag",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CampaignMember"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BusinessDataDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_DynamicCampaignShare')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDataDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ShareID",
						"type": "varchar"
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "PartyCode",
						"type": "varchar"
					},
					{
						"name": "ShareStatusGroup",
						"type": "varchar"
					},
					{
						"name": "ShareTypeGroupCode",
						"type": "varchar"
					},
					{
						"name": "ShareTypeCode",
						"type": "varchar"
					},
					{
						"name": "ShareOpenDate",
						"type": "date"
					},
					{
						"name": "ShareCloseDate",
						"type": "date"
					},
					{
						"name": "CurrentBalance",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "ShareMaturityDate",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CampaignShare"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BusinessDataDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_DynamicCampaignShareServices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDataDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "ShareTypeGroupCode",
						"type": "varchar"
					},
					{
						"name": "ShareTypeCode",
						"type": "varchar"
					},
					{
						"name": "ShareTypeDescription",
						"type": "varchar"
					},
					{
						"name": "BusinessShareFlag",
						"type": "bit"
					},
					{
						"name": "ShareGroup1",
						"type": "varchar"
					},
					{
						"name": "ShareGroup2",
						"type": "varchar"
					},
					{
						"name": "ShareGroup3",
						"type": "varchar"
					},
					{
						"name": "ShareGroup4",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CampaignShareServices"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BusinessDataDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_InsertDataToActiveAgrmnt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDataDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AGREENBR",
						"type": "varchar"
					},
					{
						"name": "PERSNBR",
						"type": "varchar"
					},
					{
						"name": "BYORGNBR",
						"type": "varchar"
					},
					{
						"name": "DATELASTMAINT",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DNAActiveAgrmntData"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BusinessDataDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_InsertDataToAlerts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDataDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "AccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "AccountTransactionNumber",
						"type": "nvarchar"
					},
					{
						"name": "TransactionId",
						"type": "nvarchar"
					},
					{
						"name": "TransactionFiscalDate",
						"type": "nvarchar"
					},
					{
						"name": "TransactionDateTime",
						"type": "nvarchar"
					},
					{
						"name": "TransactionEffectiveDate",
						"type": "nvarchar"
					},
					{
						"name": "TransactionTypeCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionType",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatus",
						"type": "nvarchar"
					},
					{
						"name": "TransactionSortIndex",
						"type": "nvarchar"
					},
					{
						"name": "PrincipalAmount",
						"type": "nvarchar"
					},
					{
						"name": "PrincipalBalance",
						"type": "nvarchar"
					},
					{
						"name": "LoanInterestAmount",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Transaction_AlertStaging"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BusinessDataDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_MiniOAOPromoStaticData_Staging')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDataDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Display Value",
						"type": "varchar"
					},
					{
						"name": "Type",
						"type": "varchar"
					},
					{
						"name": "Group",
						"type": "varchar"
					},
					{
						"name": "Description",
						"type": "varchar"
					},
					{
						"name": "Is Active",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MiniOAOPromoStaticData_Staging"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BusinessDataDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_MiniOAOPromocodeMaintenanceStaging')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDataDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PromoCode",
						"type": "varchar"
					},
					{
						"name": "SavingsAccount",
						"type": "bit"
					},
					{
						"name": "CheckingAccounts",
						"type": "bit"
					},
					{
						"name": "CertificateAccounts",
						"type": "bit"
					},
					{
						"name": "MoneyMarketAccounts",
						"type": "bit"
					},
					{
						"name": "PromoType",
						"type": "varchar"
					},
					{
						"name": "Promotion",
						"type": "varchar"
					},
					{
						"name": "Status",
						"type": "varchar"
					},
					{
						"name": "Promo Start Date",
						"type": "date"
					},
					{
						"name": "Administrator I",
						"type": "varchar"
					},
					{
						"name": "Administrator II",
						"type": "varchar"
					},
					{
						"name": "Approvers Name",
						"type": "varchar"
					},
					{
						"name": "Expiration Date",
						"type": "date"
					},
					{
						"name": "Platforms Impacted",
						"type": "varchar"
					},
					{
						"name": "Age From",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Age To",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Existing Products",
						"type": "varchar"
					},
					{
						"name": "Existing Products Checking Types",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Zip Code",
						"type": "varchar"
					},
					{
						"name": "Open Office",
						"type": "varchar"
					},
					{
						"name": "Balance History Amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Balance History Period",
						"type": "varchar"
					},
					{
						"name": "Opening Date From",
						"type": "date"
					},
					{
						"name": "Opening Date To",
						"type": "date"
					},
					{
						"name": "Transaction Type",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Transaction Details",
						"type": "varchar"
					},
					{
						"name": "Transaction Details Period",
						"type": "varchar"
					},
					{
						"name": "Completed Date From",
						"type": "date"
					},
					{
						"name": "Completed Date To",
						"type": "date"
					},
					{
						"name": "Criteria",
						"type": "varchar"
					},
					{
						"name": "Can Qualify more than once",
						"type": "bit"
					},
					{
						"name": "Reward Type",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Disclosures",
						"type": "varchar"
					},
					{
						"name": "Transaction Details within",
						"type": "varchar"
					},
					{
						"name": "Rate",
						"type": "varchar"
					},
					{
						"name": "Promotion Type Youth",
						"type": "varchar"
					},
					{
						"name": "Balance History",
						"type": "varchar"
					},
					{
						"name": "Checkings",
						"type": "varchar"
					},
					{
						"name": "Savings",
						"type": "varchar"
					},
					{
						"name": "ActiveInactive",
						"type": "varchar"
					},
					{
						"name": "HubID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Promo Category",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DetailsQualifications",
						"type": "varchar"
					},
					{
						"name": "Marketing Materials",
						"type": "varchar"
					},
					{
						"name": "Market",
						"type": "varchar"
					},
					{
						"name": "CreatedBy",
						"type": "varchar"
					},
					{
						"name": "CreatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ModifiedBy",
						"type": "varchar"
					},
					{
						"name": "ModifiedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Reward Amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Minimum Balance",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Aggregate Transaction Amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "New Account Deposit Amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Aggregate Days",
						"type": "varchar"
					},
					{
						"name": "Aggregate No",
						"type": "varchar"
					},
					{
						"name": "Member Status",
						"type": "varchar"
					},
					{
						"name": "Applicable Region or Market",
						"type": "varchar"
					},
					{
						"name": "UId",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "Source",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MiniOAOPromocodeMaintenance_Staging"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BusinessDataDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_StagingCampaignLoan')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDataDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LoanID",
						"type": "varchar"
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "PartyCode",
						"type": "varchar"
					},
					{
						"name": "LoanStatusGroup",
						"type": "varchar"
					},
					{
						"name": "LoanFamilyCode",
						"type": "varchar"
					},
					{
						"name": "LoanTypeCode",
						"type": "varchar"
					},
					{
						"name": "LoanOpenDate",
						"type": "date"
					},
					{
						"name": "LoanCloseDate",
						"type": "date"
					},
					{
						"name": "CurrentBalance",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "CreditLimit",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "LoanMaturityDate",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CampaignLoanStaging"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BusinessDataDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_StagingCampaignLoanServices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDataDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "LoanFamilyCode",
						"type": "varchar"
					},
					{
						"name": "LoanTypeCode",
						"type": "varchar"
					},
					{
						"name": "LoanTypeDescription",
						"type": "varchar"
					},
					{
						"name": "BusinessLoanFlag",
						"type": "bit"
					},
					{
						"name": "LoanGroup1",
						"type": "varchar"
					},
					{
						"name": "LoanGroup2",
						"type": "varchar"
					},
					{
						"name": "LoanGroup3",
						"type": "varchar"
					},
					{
						"name": "LoanGroup4",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CampaignLoanServicesStaging"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BusinessDataDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_StagingCampaignShare')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDataDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ShareID",
						"type": "varchar"
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "PartyCode",
						"type": "varchar"
					},
					{
						"name": "ShareStatusGroup",
						"type": "varchar"
					},
					{
						"name": "ShareTypeGroupCode",
						"type": "varchar"
					},
					{
						"name": "ShareTypeCode",
						"type": "varchar"
					},
					{
						"name": "ShareOpenDate",
						"type": "date"
					},
					{
						"name": "ShareCloseDate",
						"type": "date"
					},
					{
						"name": "CurrentBalance",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "ShareMaturityDate",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CampaignShareStaging"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BusinessDataDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_StagingCampaignShareServices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDataDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "ShareTypeGroupCode",
						"type": "varchar"
					},
					{
						"name": "ShareTypeCode",
						"type": "varchar"
					},
					{
						"name": "ShareTypeDescription",
						"type": "varchar"
					},
					{
						"name": "BusinessShareFlag",
						"type": "bit"
					},
					{
						"name": "ShareGroup1",
						"type": "varchar"
					},
					{
						"name": "ShareGroup2",
						"type": "varchar"
					},
					{
						"name": "ShareGroup3",
						"type": "varchar"
					},
					{
						"name": "ShareGroup4",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CampaignShareServicesStaging"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BusinessDataDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_StagingCampignMembers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDataDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PartyCode",
						"type": "varchar"
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "MemberStatusGroup",
						"type": "varchar"
					},
					{
						"name": "MembershipOpenDate",
						"type": "date"
					},
					{
						"name": "MembershipType",
						"type": "varchar"
					},
					{
						"name": "ZIPCode",
						"type": "varchar"
					},
					{
						"name": "City",
						"type": "varchar"
					},
					{
						"name": "State",
						"type": "varchar"
					},
					{
						"name": "BirthDate",
						"type": "date"
					},
					{
						"name": "MarketingOptOut",
						"type": "bit"
					},
					{
						"name": "NewMemberFlag",
						"type": "bit"
					},
					{
						"name": "OnlineBankingUserFlag",
						"type": "bit"
					},
					{
						"name": "MobileAppUserFlag",
						"type": "bit"
					},
					{
						"name": "QuickAccessUserFlag",
						"type": "bit"
					},
					{
						"name": "EStatementsUserFlag",
						"type": "bit"
					},
					{
						"name": "BillPayUserFlag",
						"type": "bit"
					},
					{
						"name": "ScheduledTransferUserFlag",
						"type": "bit"
					},
					{
						"name": "RemoteDepositUserFlag",
						"type": "bit"
					},
					{
						"name": "SendMoneyUserFlag",
						"type": "bit"
					},
					{
						"name": "MobileWalletUserFlag",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CampaignMemberStaging"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BusinessDataDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ss_PromoCodeMaintenance')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PromoCode",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PromoCode",
						"type": "varchar"
					},
					{
						"name": "SavingsAccount",
						"type": "bit"
					},
					{
						"name": "CheckingAccounts",
						"type": "bit"
					},
					{
						"name": "CertificateAccounts",
						"type": "bit"
					},
					{
						"name": "MoneyMarketAccounts",
						"type": "bit"
					},
					{
						"name": "PromoType",
						"type": "varchar"
					},
					{
						"name": "Promotion",
						"type": "varchar"
					},
					{
						"name": "Status",
						"type": "varchar"
					},
					{
						"name": "Promo Start Date",
						"type": "date"
					},
					{
						"name": "Administrator I",
						"type": "varchar"
					},
					{
						"name": "Administrator II",
						"type": "varchar"
					},
					{
						"name": "Approvers Name",
						"type": "varchar"
					},
					{
						"name": "Expiration Date",
						"type": "date"
					},
					{
						"name": "Platforms Impacted",
						"type": "varchar"
					},
					{
						"name": "Age From",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Age To",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Existing Products",
						"type": "varchar"
					},
					{
						"name": "Existing Products Checking Types",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Zip Code",
						"type": "varchar"
					},
					{
						"name": "Open Office",
						"type": "varchar"
					},
					{
						"name": "Balance History Amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Balance History Period",
						"type": "varchar"
					},
					{
						"name": "Opening Date From",
						"type": "date"
					},
					{
						"name": "Opening Date To",
						"type": "date"
					},
					{
						"name": "Transaction Type",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Transaction Details",
						"type": "varchar"
					},
					{
						"name": "Transaction Details Period",
						"type": "varchar"
					},
					{
						"name": "Completed Date From",
						"type": "date"
					},
					{
						"name": "Completed Date To",
						"type": "date"
					},
					{
						"name": "Criteria",
						"type": "varchar"
					},
					{
						"name": "Can Qualify more than once",
						"type": "bit"
					},
					{
						"name": "Reward Type",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Disclosures",
						"type": "varchar"
					},
					{
						"name": "Transaction Details within",
						"type": "varchar"
					},
					{
						"name": "Rate",
						"type": "varchar"
					},
					{
						"name": "Promotion Type Youth",
						"type": "varchar"
					},
					{
						"name": "Balance History",
						"type": "varchar"
					},
					{
						"name": "Checkings",
						"type": "varchar"
					},
					{
						"name": "Savings",
						"type": "varchar"
					},
					{
						"name": "ActiveInactive",
						"type": "varchar"
					},
					{
						"name": "HubID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Promo Category",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DetailsQualifications",
						"type": "varchar"
					},
					{
						"name": "Marketing Materials",
						"type": "varchar"
					},
					{
						"name": "Market",
						"type": "varchar"
					},
					{
						"name": "CreatedBy",
						"type": "varchar"
					},
					{
						"name": "CreatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ModifiedBy",
						"type": "varchar"
					},
					{
						"name": "ModifiedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Reward Amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Minimum Balance",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Aggregate Transaction Amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "New Account Deposit Amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Aggregate Days",
						"type": "varchar"
					},
					{
						"name": "Aggregate No",
						"type": "varchar"
					},
					{
						"name": "Member Status",
						"type": "varchar"
					},
					{
						"name": "Applicable Region or Market",
						"type": "varchar"
					},
					{
						"name": "UId",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "Source",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "PromoCodeMaintenace"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PromoCode')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ss_PromocodeStatic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PromoCode",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Display Value",
						"type": "varchar"
					},
					{
						"name": "Type",
						"type": "varchar"
					},
					{
						"name": "Group",
						"type": "varchar"
					},
					{
						"name": "Description",
						"type": "varchar"
					},
					{
						"name": "Is Active",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "PromoStaticData"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/PromoCode')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ALTADFKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ALTADFKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Altra_Test_Link')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Oracle",
				"typeProperties": {
					"connectionString": "[parameters('Altra_Test_Link_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ALTADFKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "nextlytransactionsRO"
					}
				},
				"connectVia": {
					"referenceName": "AltraOracleIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AltraOracleIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/linkedServices/ALTADFKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BusinessDataDev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('BusinessDataDev_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dynamic Campaigns')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('Dynamic Campaigns_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ALTADFKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "NextlyMarketing"
					}
				},
				"connectVia": {
					"referenceName": "AltraOracleIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AltraOracleIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/linkedServices/ALTADFKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PromoCode')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('PromoCode_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ALTADFKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "NextlyUser"
					}
				},
				"connectVia": {
					"referenceName": "AltraOracleIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AltraOracleIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/linkedServices/ALTADFKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_transactiondb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ALTADFKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('ls_transactiondb_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ALTADFKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STr_DynamicCampaigns')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_DynamicCampaigns",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-07-13T06:18:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								13
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_DynamicCampaigns')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STr_PromocodeRecordsTransfer')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_PromocodeReordsTransfer",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-07-20T13:30:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								13
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_PromocodeReordsTransfer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STr_Transaction')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_TransactionTransfer",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 3,
						"startTime": "2023-06-06T14:51:00Z",
						"endTime": "2023-07-12T07:30:24Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_TransactionTransfer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Str_DeleteRecordsBefore18Months')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_DeleteRecordsBefore18Months",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-06-27T08:00:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"hours": [
								8
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_DeleteRecordsBefore18Months')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tr_DataTransfer')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_InactiveEAgreementNumberDataTransfer",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-06-26T12:02:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								9
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_InactiveEAgreementNumberDataTransfer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AltraOracleIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ConnectionALTRAdevsql01')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "Central US",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						},
						"pipelineExternalComputeScaleProperties": {
							"timeToLive": 60
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		}
	]
}