ALT-ADF/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ALT-ADF"
		},
		"Altra_Test_Link_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Altra_Test_Link'",
			"defaultValue": "host=dnatestdb;port=1521;sid=attst1;user id=NEXTLYTRANSACTIONS_RO"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"BusinessDataDev_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BusinessDataDev'"
		},
		"Claysys_Oracal_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Claysys_Oracal'"
		},
		"ALTADFKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://ALTRA-KEYVAULT.vault.azure.net/"
		},
		"ls_transactiondb_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "ALTDevsql01RTTransactionsDev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_TransactionTransfer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cd_AltratoDigitalBankingTransfers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate the staging table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT * FROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS WHERE TRANSACTIONID > @{variables('transid')}",
									"type": "Expression"
								},
								"partitionOption": "None",
								"convertDecimalToInteger": false,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ACCOUNTNUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "AccountNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ACCOUNTTRANSACTIONNUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "AccountTransactionNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONID",
											"type": "Decimal"
										},
										"sink": {
											"name": "TransactionID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONFISCALDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionFiscalDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONDATETIME",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionDateTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONEFFECTIVEDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionEffectiveDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONTYPECODE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONTYPE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONSTATUSCODE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionStatusCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONDESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "TransactionDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PRINCIPALAMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "PrincipalAmount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PRINCIPALBALANCE",
											"type": "String"
										},
										"sink": {
											"name": "PrincipalBalance",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LOANINTERESTAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "LoanInterestAmount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CHECKNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "CHECKNBR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LOANESCROWAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "LoanESCrowAmount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_O_AltraServerConnectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_DigitalBankingConectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Fetch the last TransId",
						"description": "Fetch last transaction Id in database",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT MAX(TRANSACTIONID) AS MAXTRANSID FROM TRANSACTIONS",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DigitalBankingConectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Fetch the last TransId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "transid",
							"value": {
								"value": "@string(activity('Fetch the last TransId').output.firstRow.MAXTRANSID)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "sp_InsertTransaction",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cd_AltratoDigitalBankingTransfers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SP_TransactionData]"
						},
						"linkedServiceName": {
							"referenceName": "ls_transactiondb",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Truncate the staging table",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE Transaction_Staging;\nselect count(*) from Transaction_Staging",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DigitalBankingConectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Transfer_StagingData_Alerts",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "cd_AltratoDigitalBankingTransfers",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select * from [dbo].[Transaction_Staging]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AccountNumber",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AccountNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AccountTransactionNumber",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AccountTransactionNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionID",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionFiscalDate",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionFiscalDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionDateTime",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionDateTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionEffectiveDate",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionEffectiveDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionTypeCode",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionType",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionStatus",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionSortIndex",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionSortIndex",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PrincipalAmount",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PrincipalAmount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PrincipalBalance",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PrincipalBalance",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LoanInterestAmount",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LoanInterestAmount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_S_DigitalBankingConectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_InsertDataToAlerts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"transid": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-06-07T09:17:41Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_O_AltraServerConnectivity')]",
				"[concat(variables('factoryId'), '/datasets/ds_S_DigitalBankingConectivity')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_transactiondb')]",
				"[concat(variables('factoryId'), '/datasets/ds_S_InsertDataToAlerts')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_O_AltraServerConnectivity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Altra_Test_Link",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "DNACUSTOM",
					"table": "VW_DIGITALBANKINGTRANSACTIONS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Altra_Test_Link')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_DigitalBankingConectivity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_transactiondb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "AccountTransactionNumber",
						"type": "nvarchar"
					},
					{
						"name": "TransactionID",
						"type": "nvarchar"
					},
					{
						"name": "TransactionFiscalDate",
						"type": "nvarchar"
					},
					{
						"name": "TransactionDateTime",
						"type": "nvarchar"
					},
					{
						"name": "TransactionEffectiveDate",
						"type": "nvarchar"
					},
					{
						"name": "TransactionTypeCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionType",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatusCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatus",
						"type": "nvarchar"
					},
					{
						"name": "TransactionDescription",
						"type": "nvarchar"
					},
					{
						"name": "TransactionSortIndex",
						"type": "nvarchar"
					},
					{
						"name": "PrincipalAmount",
						"type": "nvarchar"
					},
					{
						"name": "PrincipalBalance",
						"type": "nvarchar"
					},
					{
						"name": "LoanInterestAmount",
						"type": "nvarchar"
					},
					{
						"name": "CURRRTXNSTATCD",
						"type": "nvarchar"
					},
					{
						"name": "CHECKNBR",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Transaction_Staging"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_transactiondb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_DigitalBankingTransactionRecord')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_transactiondb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AccountNumber",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "AccountTransactionNumber",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "TransactionID",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "TransactionFiscalDate",
						"type": "date"
					},
					{
						"name": "TransactionDateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "TransactionEffectiveDate",
						"type": "date"
					},
					{
						"name": "TransactionTypeCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionType",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatusCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatus",
						"type": "nvarchar"
					},
					{
						"name": "TransactionDescription",
						"type": "nvarchar"
					},
					{
						"name": "TransactionSortIndex",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "PrincipalAmount",
						"type": "decimal",
						"precision": 38,
						"scale": 3
					},
					{
						"name": "PrincipalBalance",
						"type": "decimal",
						"precision": 38,
						"scale": 3
					},
					{
						"name": "LoanInterestAmount",
						"type": "decimal",
						"precision": 38,
						"scale": 3
					},
					{
						"name": "CURRRTXNSTATCD",
						"type": "nvarchar"
					},
					{
						"name": "CHECKNBR",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Transactions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_transactiondb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_InsertDataToAlerts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDataDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "AccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "AccountTransactionNumber",
						"type": "nvarchar"
					},
					{
						"name": "TransactionId",
						"type": "nvarchar"
					},
					{
						"name": "TransactionFiscalDate",
						"type": "nvarchar"
					},
					{
						"name": "TransactionDateTime",
						"type": "nvarchar"
					},
					{
						"name": "TransactionEffectiveDate",
						"type": "nvarchar"
					},
					{
						"name": "TransactionTypeCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionType",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatus",
						"type": "nvarchar"
					},
					{
						"name": "TransactionSortIndex",
						"type": "nvarchar"
					},
					{
						"name": "PrincipalAmount",
						"type": "nvarchar"
					},
					{
						"name": "PrincipalBalance",
						"type": "nvarchar"
					},
					{
						"name": "LoanInterestAmount",
						"type": "nvarchar"
					},
					{
						"name": "MemberNumber",
						"type": "nvarchar"
					},
					{
						"name": "isPsuedoUser",
						"type": "bit"
					},
					{
						"name": "MemberUserName",
						"type": "nvarchar"
					},
					{
						"name": "MemberGUID",
						"type": "nvarchar"
					},
					{
						"name": "IncidentId",
						"type": "nvarchar"
					},
					{
						"name": "Data",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Transaction_Alert"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BusinessDataDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ALTADFKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ALTADFKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Altra_Test_Link')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Oracle",
				"typeProperties": {
					"connectionString": "[parameters('Altra_Test_Link_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ALTADFKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "nextlytransactionsRO"
					}
				},
				"connectVia": {
					"referenceName": "AltraOracleIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AltraOracleIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/linkedServices/ALTADFKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BusinessDataDev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('BusinessDataDev_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Claysys_Oracal')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Oracle",
				"typeProperties": {
					"connectionString": "[parameters('Claysys_Oracal_connectionString')]"
				},
				"connectVia": {
					"referenceName": "On-prem-test",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/On-prem-test')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_transactiondb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ALTADFKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('ls_transactiondb_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ALTADFKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STr_Transaction')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_TransactionTransfer",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 3,
						"startTime": "2023-06-06T14:51:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_TransactionTransfer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AltraOracleIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ConnectionALTRAdevsql01')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "Central US",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						},
						"pipelineExternalComputeScaleProperties": {
							"timeToLive": 60
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/On-prem-test')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		}
	]
}