ALT-ADF/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ALT-ADF"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"BusinessDataDev_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BusinessDataDev'"
		},
		"Altra_Test_Link_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Altra_Test_Link'",
			"defaultValue": "host=dnatestdb;port=1521;sid=attst1;user id=NEXTLYTRANSACTIONS_RO"
		},
		"Claysys_Oracal_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Claysys_Oracal'"
		},
		"ALTADFKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://ALTRA-KEYVAULT.vault.azure.net/"
		},
		"ls_transactiondb_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "ALTDevsql01RTTransactionsDev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ALTADFKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ALTADFKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BusinessDataDev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('BusinessDataDev_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AltraOracleIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/On-prem-test')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_InsertDataToActiveAgrmnt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDataDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AGREENBR",
						"type": "varchar"
					},
					{
						"name": "PERSNBR",
						"type": "varchar"
					},
					{
						"name": "BYORGNBR",
						"type": "varchar"
					},
					{
						"name": "DATELASTMAINT",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DNAActiveAgrmntData"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BusinessDataDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_InsertDataToAlerts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDataDev",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "AccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "AccountTransactionNumber",
						"type": "nvarchar"
					},
					{
						"name": "TransactionId",
						"type": "nvarchar"
					},
					{
						"name": "TransactionFiscalDate",
						"type": "nvarchar"
					},
					{
						"name": "TransactionDateTime",
						"type": "nvarchar"
					},
					{
						"name": "TransactionEffectiveDate",
						"type": "nvarchar"
					},
					{
						"name": "TransactionTypeCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionType",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatus",
						"type": "nvarchar"
					},
					{
						"name": "TransactionSortIndex",
						"type": "nvarchar"
					},
					{
						"name": "PrincipalAmount",
						"type": "nvarchar"
					},
					{
						"name": "PrincipalBalance",
						"type": "nvarchar"
					},
					{
						"name": "LoanInterestAmount",
						"type": "nvarchar"
					},
					{
						"name": "MemberNumber",
						"type": "nvarchar"
					},
					{
						"name": "isPsuedoUser",
						"type": "bit"
					},
					{
						"name": "MemberUserName",
						"type": "nvarchar"
					},
					{
						"name": "MemberGUID",
						"type": "nvarchar"
					},
					{
						"name": "IncidentId",
						"type": "nvarchar"
					},
					{
						"name": "Data",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Transaction_Alert"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BusinessDataDev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Altra_Test_Link')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Oracle",
				"typeProperties": {
					"connectionString": "[parameters('Altra_Test_Link_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ALTADFKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "nextlytransactionsRO"
					}
				},
				"connectVia": {
					"referenceName": "AltraOracleIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AltraOracleIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/linkedServices/ALTADFKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Claysys_Oracal')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Oracle",
				"typeProperties": {
					"connectionString": "[parameters('Claysys_Oracal_connectionString')]"
				},
				"connectVia": {
					"referenceName": "On-prem-test",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/On-prem-test')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_transactiondb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ALTADFKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('ls_transactiondb_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ALTADFKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ConnectionALTRAdevsql01')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "Central US",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false,
							"customProperties": []
						},
						"pipelineExternalComputeScaleProperties": {
							"timeToLive": 60
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DeleteRecordsBefore18Months')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DeleteRecordsBefore18Months",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SP_DeleteRecordsBefore18Months]"
						},
						"linkedServiceName": {
							"referenceName": "ls_transactiondb",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_transactiondb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_O_AltraServerConnectivity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Altra_Test_Link",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "DNACUSTOM",
					"table": "VW_DIGITALBANKINGTRANSACTIONS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Altra_Test_Link')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_O_Connectivity_InactiveEagreement')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Altra_Test_Link",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "DNACUSTOM",
					"table": "VW_DIGITALBANKINGINACTIVEEAGREEMENTS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Altra_Test_Link')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_DeleteReordsBefore18Months')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_transactiondb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Transactions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_transactiondb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_DigitalBankingConectivity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_transactiondb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "AccountTransactionNumber",
						"type": "nvarchar"
					},
					{
						"name": "TransactionID",
						"type": "nvarchar"
					},
					{
						"name": "TransactionFiscalDate",
						"type": "nvarchar"
					},
					{
						"name": "TransactionDateTime",
						"type": "nvarchar"
					},
					{
						"name": "TransactionEffectiveDate",
						"type": "nvarchar"
					},
					{
						"name": "TransactionTypeCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionType",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatusCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatus",
						"type": "nvarchar"
					},
					{
						"name": "TransactionDescription",
						"type": "nvarchar"
					},
					{
						"name": "TransactionSortIndex",
						"type": "nvarchar"
					},
					{
						"name": "PrincipalAmount",
						"type": "nvarchar"
					},
					{
						"name": "PrincipalBalance",
						"type": "nvarchar"
					},
					{
						"name": "LoanInterestAmount",
						"type": "nvarchar"
					},
					{
						"name": "CURRRTXNSTATCD",
						"type": "nvarchar"
					},
					{
						"name": "CHECKNBR",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Transaction_Staging"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_transactiondb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_DigitalBankingTransactionRecord')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_transactiondb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AccountNumber",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "AccountTransactionNumber",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "TransactionID",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "TransactionFiscalDate",
						"type": "date"
					},
					{
						"name": "TransactionDateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "TransactionEffectiveDate",
						"type": "date"
					},
					{
						"name": "TransactionTypeCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionType",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatusCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatus",
						"type": "nvarchar"
					},
					{
						"name": "TransactionDescription",
						"type": "nvarchar"
					},
					{
						"name": "TransactionSortIndex",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "PrincipalAmount",
						"type": "decimal",
						"precision": 38,
						"scale": 3
					},
					{
						"name": "PrincipalBalance",
						"type": "decimal",
						"precision": 38,
						"scale": 3
					},
					{
						"name": "LoanInterestAmount",
						"type": "decimal",
						"precision": 38,
						"scale": 3
					},
					{
						"name": "CURRRTXNSTATCD",
						"type": "nvarchar"
					},
					{
						"name": "CHECKNBR",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Transactions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_transactiondb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_InactiveEAgreementNumberDataTransfer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DNA Active Agreement Data Transfor",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate the DNAActiveAgrmntData table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AGREENBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "AGREENBR",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PERSNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "PERSNBR",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BYORGNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "BYORGNBR",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DATELASTMAINT",
											"type": "DateTime"
										},
										"sink": {
											"name": "DATELASTMAINT",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_O_Connectivity_InactiveEagreement",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_InsertDataToActiveAgrmnt",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate the DNAActiveAgrmntData table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE dbo.DNAActiveAgrmntData;\nSELECT COUNT(*) FROM dbo.DNAActiveAgrmntData",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_InsertDataToActiveAgrmnt",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_O_Connectivity_InactiveEagreement')]",
				"[concat(variables('factoryId'), '/datasets/ds_S_InsertDataToActiveAgrmnt')]"
			]
		}
	]
}