ALT-ADF/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ALT-ADF"
		},
		"PromoCode_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'PromoCode'",
			"defaultValue": "Integrated Security=False;Data Source=mrmprdopdb01;Initial Catalog=MRMOAO_Data;User ID=NextlyUser"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PromoCode')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('PromoCode_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ALTADFKeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "NextlyUser"
					}
				},
				"connectVia": {
					"referenceName": "AltraOracleIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DeleteRecordsBefore18Months')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DeleteRecordsBefore18Months",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SP_DeleteRecordsBefore18Months]"
						},
						"linkedServiceName": {
							"referenceName": "ls_transactiondb",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-06-27T16:27:58Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_O_AltraServerConnectivity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Altra_Test_Link",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "DNACUSTOM",
					"table": "VW_DIGITALBANKINGTRANSACTIONS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_O_Connectivity_InactiveEagreement')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Altra_Test_Link",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "DNACUSTOM",
					"table": "VW_DIGITALBANKINGINACTIVEEAGREEMENTS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SS_DynamicCampaignLoan')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Dynamic Campaigns",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "LoanID",
						"type": "varchar"
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "PartyCode",
						"type": "varchar"
					},
					{
						"name": "LoanStatusGroup",
						"type": "varchar"
					},
					{
						"name": "LoanFamilyCode",
						"type": "varchar"
					},
					{
						"name": "LoanTypeCode",
						"type": "varchar"
					},
					{
						"name": "LoanOpenDate",
						"type": "date"
					},
					{
						"name": "LoanCloseDate",
						"type": "date"
					},
					{
						"name": "CurrentBalance",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "CreditLimit",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "LoanMaturityDate",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "mktg",
					"table": "Loan"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SS_DynamicCampaignLoanServices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Dynamic Campaigns",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "LoanFamilyCode",
						"type": "varchar"
					},
					{
						"name": "LoanTypeCode",
						"type": "varchar"
					},
					{
						"name": "LoanTypeDescription",
						"type": "varchar"
					},
					{
						"name": "BusinessLoanFlag",
						"type": "bit"
					},
					{
						"name": "LoanGroup1",
						"type": "varchar"
					},
					{
						"name": "LoanGroup2",
						"type": "varchar"
					},
					{
						"name": "LoanGroup3",
						"type": "varchar"
					},
					{
						"name": "LoanGroup4",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "mktg",
					"table": "LoanServices"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SS_DynamicCampaignMembers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Dynamic Campaigns",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "PartyCode",
						"type": "varchar"
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "MemberStatusGroup",
						"type": "varchar"
					},
					{
						"name": "MembershipOpenDate",
						"type": "date"
					},
					{
						"name": "MembershipType",
						"type": "varchar"
					},
					{
						"name": "Region",
						"type": "varchar"
					},
					{
						"name": "BranchNumber",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BranchName",
						"type": "varchar"
					},
					{
						"name": "ZIPCode",
						"type": "varchar"
					},
					{
						"name": "City",
						"type": "varchar"
					},
					{
						"name": "State",
						"type": "varchar"
					},
					{
						"name": "CountryCode",
						"type": "varchar"
					},
					{
						"name": "BirthDate",
						"type": "date"
					},
					{
						"name": "MarketingOptOut",
						"type": "bit"
					},
					{
						"name": "NewMemberFlag",
						"type": "bit"
					},
					{
						"name": "OnlineBankingUserFlag",
						"type": "bit"
					},
					{
						"name": "MobileAppUserFlag",
						"type": "bit"
					},
					{
						"name": "QuickAccessUserFlag",
						"type": "bit"
					},
					{
						"name": "EStatementsUserFlag",
						"type": "bit"
					},
					{
						"name": "BillPayUserFlag",
						"type": "bit"
					},
					{
						"name": "ScheduledTransferUserFlag",
						"type": "bit"
					},
					{
						"name": "RemoteDepositUserFlag",
						"type": "bit"
					},
					{
						"name": "SendMoneyUserFlag",
						"type": "bit"
					},
					{
						"name": "MobileWalletUserFlag",
						"type": "bit"
					},
					{
						"name": "AFAMemberFlag",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "mktg",
					"table": "Member"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SS_DynamicCampaignShare')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Dynamic Campaigns",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "ShareID",
						"type": "varchar"
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "PartyCode",
						"type": "varchar"
					},
					{
						"name": "ShareStatusGroup",
						"type": "varchar"
					},
					{
						"name": "ShareTypeGroupCode",
						"type": "varchar"
					},
					{
						"name": "ShareTypeCode",
						"type": "varchar"
					},
					{
						"name": "ShareOpenDate",
						"type": "date"
					},
					{
						"name": "ShareCloseDate",
						"type": "date"
					},
					{
						"name": "CurrentBalance",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "ShareMaturityDate",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "mktg",
					"table": "Share"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_SS_DynamicCampaignShareServices')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Dynamic Campaigns",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "ShareTypeGroupCode",
						"type": "varchar"
					},
					{
						"name": "ShareTypeCode",
						"type": "varchar"
					},
					{
						"name": "ShareTypeDescription",
						"type": "varchar"
					},
					{
						"name": "BusinessShareFlag",
						"type": "bit"
					},
					{
						"name": "ShareGroup1",
						"type": "varchar"
					},
					{
						"name": "ShareGroup2",
						"type": "varchar"
					},
					{
						"name": "ShareGroup3",
						"type": "varchar"
					},
					{
						"name": "ShareGroup4",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "mktg",
					"table": "ShareServices"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_DeleteReordsBefore18Months')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_transactiondb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Transactions"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_DigitalBankingConectivity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_transactiondb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "AccountTransactionNumber",
						"type": "nvarchar"
					},
					{
						"name": "TransactionID",
						"type": "nvarchar"
					},
					{
						"name": "TransactionFiscalDate",
						"type": "nvarchar"
					},
					{
						"name": "TransactionDateTime",
						"type": "nvarchar"
					},
					{
						"name": "TransactionEffectiveDate",
						"type": "nvarchar"
					},
					{
						"name": "TransactionTypeCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionType",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatusCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatus",
						"type": "nvarchar"
					},
					{
						"name": "TransactionDescription",
						"type": "nvarchar"
					},
					{
						"name": "TransactionSortIndex",
						"type": "nvarchar"
					},
					{
						"name": "PrincipalAmount",
						"type": "nvarchar"
					},
					{
						"name": "PrincipalBalance",
						"type": "nvarchar"
					},
					{
						"name": "LoanInterestAmount",
						"type": "nvarchar"
					},
					{
						"name": "CURRRTXNSTATCD",
						"type": "nvarchar"
					},
					{
						"name": "CHECKNBR",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Transaction_Staging"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_DigitalBankingTransactionRecord')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_transactiondb",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AccountNumber",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "AccountTransactionNumber",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "TransactionID",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "TransactionFiscalDate",
						"type": "date"
					},
					{
						"name": "TransactionDateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "TransactionEffectiveDate",
						"type": "date"
					},
					{
						"name": "TransactionTypeCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionType",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatusCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatus",
						"type": "nvarchar"
					},
					{
						"name": "TransactionDescription",
						"type": "nvarchar"
					},
					{
						"name": "TransactionSortIndex",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "PrincipalAmount",
						"type": "decimal",
						"precision": 38,
						"scale": 3
					},
					{
						"name": "PrincipalBalance",
						"type": "decimal",
						"precision": 38,
						"scale": 3
					},
					{
						"name": "LoanInterestAmount",
						"type": "decimal",
						"precision": 38,
						"scale": 3
					},
					{
						"name": "CURRRTXNSTATCD",
						"type": "nvarchar"
					},
					{
						"name": "CHECKNBR",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Transactions"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DynamicCampaigns')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyCampaignMembers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncateCampaignMemberStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PartyCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PartyCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "MemberStatusGroup",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MemberStatusGroup",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MembershipOpenDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "MembershipOpenDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "MembershipType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MembershipType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ZIPCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ZIPCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BirthDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "BirthDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "MarketingOptOut",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "MarketingOptOut",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "NewMemberFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "NewMemberFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "OnlineBankingUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "OnlineBankingUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "MobileAppUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "MobileAppUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "QuickAccessUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "QuickAccessUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "EStatementsUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "EStatementsUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "BillPayUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "BillPayUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "ScheduledTransferUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "ScheduledTransferUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "RemoteDepositUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "RemoteDepositUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "SendMoneyUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "SendMoneyUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "MobileWalletUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "MobileWalletUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SS_DynamicCampaignMembers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_StagingCampignMembers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyCampaignLoan",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncateCampaignLoanStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "LoanID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LoanID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "PartyCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PartyCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoanStatusGroup",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LoanStatusGroup",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoanFamilyCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LoanFamilyCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoanTypeCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LoanTypeCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoanOpenDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "LoanOpenDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "LoanCloseDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "LoanCloseDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "CurrentBalance",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "CurrentBalance",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										}
									},
									{
										"source": {
											"name": "CreditLimit",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "CreditLimit",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										}
									},
									{
										"source": {
											"name": "LoanMaturityDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "LoanMaturityDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SS_DynamicCampaignLoan",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_StagingCampaignLoan",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyCampaignLoanServices",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncateCampaignLoanServicesStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AsOfDate"
										},
										"sink": {
											"name": "AsOfDate"
										}
									},
									{
										"source": {
											"name": "LoanFamilyCode"
										},
										"sink": {
											"name": "LoanFamilyCode"
										}
									},
									{
										"source": {
											"name": "LoanTypeCode"
										},
										"sink": {
											"name": "LoanTypeCode"
										}
									},
									{
										"source": {
											"name": "LoanTypeDescription"
										},
										"sink": {
											"name": "LoanTypeDescription"
										}
									},
									{
										"source": {
											"name": "BusinessLoanFlag"
										},
										"sink": {
											"name": "BusinessLoanFlag"
										}
									},
									{
										"source": {
											"name": "LoanGroup1"
										},
										"sink": {
											"name": "LoanGroup1"
										}
									},
									{
										"source": {
											"name": "LoanGroup2"
										},
										"sink": {
											"name": "LoanGroup2"
										}
									},
									{
										"source": {
											"name": "LoanGroup3"
										},
										"sink": {
											"name": "LoanGroup3"
										}
									},
									{
										"source": {
											"name": "LoanGroup4"
										},
										"sink": {
											"name": "LoanGroup4"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SS_DynamicCampaignLoanServices",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_StagingCampaignLoanServices",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyCampaignshare",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncateCampaignShareStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ShareID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "PartyCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PartyCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareStatusGroup",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareStatusGroup",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareTypeGroupCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareTypeGroupCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareTypeCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareTypeCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareOpenDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "ShareOpenDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "ShareCloseDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "ShareCloseDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "CurrentBalance",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "CurrentBalance",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										}
									},
									{
										"source": {
											"name": "ShareMaturityDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "ShareMaturityDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SS_DynamicCampaignShare",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_StagingCampaignShare",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyCampaignShareServices",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncateCampaignShareServicesStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "ShareTypeGroupCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareTypeGroupCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareTypeCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareTypeCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareTypeDescription",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareTypeDescription",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessShareFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "BusinessShareFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "ShareGroup1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareGroup1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareGroup2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareGroup2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareGroup3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareGroup3",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareGroup4",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareGroup4",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SS_DynamicCampaignShareServices",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_StagingCampaignShareServices",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "TruncateCampaignMemberStaging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignMemberStaging;\nselect count(*) from CampaignMemberStaging\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_StagingCampignMembers",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignLoanStaging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignLoanStaging;\nselect count(*) from CampaignLoanStaging\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_StagingCampaignLoan",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignLoanServicesStaging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignLoanServicesStaging;\nselect count(*) from CampaignLoanServicesStaging\n\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_StagingCampaignLoanServices",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignShareStaging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignShareStaging;\nselect count(*) from CampaignShareStaging\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_StagingCampaignShare",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignShareServicesStaging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignShareServicesStaging;\nselect count(*) from CampaignShareServicesStaging\n\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_StagingCampaignShareServices",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignMember",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CopyCampaignMembers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignMember;\nselect count(*) from CampaignMember",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DynamicCampaignMember",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignLoan",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CopyCampaignLoan",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignLoan;\nselect count(*) from CampaignLoan",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DynamicCampaignLoan",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignLoanServices",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CopyCampaignLoanServices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignLoanServices;\nselect count(*) from CampaignLoanServices",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DynamicCampaignLoanServices",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignShare",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CopyCampaignshare",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignShare;\nselect count(*) from CampaignShare",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DynamicCampaignShare",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignShareServices",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CopyCampaignShareServices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignShareServices;\nselect count(*) from CampaignShareServices",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DynamicCampaignShareServices",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Sp_InsertMemberStagingToMember",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "TruncateCampaignMember",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertFromCampaignMemberStagingToCampaignMember]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDataDev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Sp_InsertLoanStagingToLoan",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "TruncateCampaignLoan",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertFromCampaignLoanStagingToCampaignLoan]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDataDev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Sp_InsertLoanServicesStagingToLoanServices",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "TruncateCampaignLoanServices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertFromCampaignLoanServicesStagingToCampaignLoanServices]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDataDev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Sp_InsertShareStagingToShare",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "TruncateCampaignShare",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertFromCampaignShareStagingToCampaignShare]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDataDev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Sp_InsertShareServicesStagingToShareServices",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "TruncateCampaignShareServices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertFromcampaignShareServicesStagingToCampaignShareServices]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDataDev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-07-13T09:39:36Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_SS_DynamicCampaignMembers')]",
				"[concat(variables('factoryId'), '/datasets/ds_SS_DynamicCampaignLoan')]",
				"[concat(variables('factoryId'), '/datasets/ds_SS_DynamicCampaignLoanServices')]",
				"[concat(variables('factoryId'), '/datasets/ds_SS_DynamicCampaignShare')]",
				"[concat(variables('factoryId'), '/datasets/ds_SS_DynamicCampaignShareServices')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_InactiveEAgreementNumberDataTransfer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DNA Active Agreement Data Transfor",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate the DNAActiveAgrmntData table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AGREENBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "AGREENBR",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PERSNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "PERSNBR",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BYORGNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "BYORGNBR",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DATELASTMAINT",
											"type": "DateTime"
										},
										"sink": {
											"name": "DATELASTMAINT",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_O_Connectivity_InactiveEagreement",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_InsertDataToActiveAgrmnt",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate the DNAActiveAgrmntData table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE dbo.DNAActiveAgrmntData;\nSELECT COUNT(*) FROM dbo.DNAActiveAgrmntData",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_InsertDataToActiveAgrmnt",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-06-27T16:27:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_O_Connectivity_InactiveEagreement')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TransactionTransfer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cd_AltratoDigitalBankingTransfers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate the staging table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT * FROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS WHERE TRANSACTIONID > @{variables('transid')}",
									"type": "Expression"
								},
								"partitionOption": "None",
								"convertDecimalToInteger": false,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ACCOUNTNUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "AccountNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ACCOUNTTRANSACTIONNUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "AccountTransactionNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONID",
											"type": "Decimal"
										},
										"sink": {
											"name": "TransactionID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONFISCALDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionFiscalDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONDATETIME",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionDateTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONEFFECTIVEDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionEffectiveDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONTYPECODE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONTYPE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONSTATUSCODE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionStatusCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONDESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "TransactionDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PRINCIPALAMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "PrincipalAmount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PRINCIPALBALANCE",
											"type": "String"
										},
										"sink": {
											"name": "PrincipalBalance",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LOANINTERESTAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "LoanInterestAmount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CHECKNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "CHECKNBR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LOANESCROWAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "LoanESCrowAmount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_O_AltraServerConnectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_DigitalBankingConectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Fetch the last TransId",
						"description": "Fetch last transaction Id in database",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT MAX(TRANSACTIONID) AS MAXTRANSID FROM TRANSACTIONS",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DigitalBankingConectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Fetch the last TransId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "transid",
							"value": {
								"value": "@string(activity('Fetch the last TransId').output.firstRow.MAXTRANSID)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "sp_InsertTransaction",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cd_AltratoDigitalBankingTransfers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SP_TransactionData]"
						},
						"linkedServiceName": {
							"referenceName": "ls_transactiondb",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Truncate the staging table",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE Transaction_Staging;\nselect count(*) from Transaction_Staging",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DigitalBankingConectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Transfer_StagingData_Alerts",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncateAlertStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AccountNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AccountNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AccountTransactionNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AccountTransactionNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionFiscalDate",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionFiscalDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionDateTime",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionDateTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionEffectiveDate",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionEffectiveDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionSortIndex",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionSortIndex",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PrincipalAmount",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PrincipalAmount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PrincipalBalance",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PrincipalBalance",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LoanInterestAmount",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LoanInterestAmount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_S_DigitalBankingConectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_InsertDataToAlerts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "TruncateAlertStaging",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "cd_AltratoDigitalBankingTransfers",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE Transaction_AlertStaging;\nselect count(*) from Transaction_AlertStaging",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_InsertDataToAlerts",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Insert to AlertTransaction",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transfer_StagingData_Alerts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertTransactionAlertFromStaging]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDataDev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"transid": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-07-05T06:37:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_O_AltraServerConnectivity')]",
				"[concat(variables('factoryId'), '/datasets/ds_S_DigitalBankingConectivity')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Str_DeleteRecordsBefore18Months')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_DeleteRecordsBefore18Months",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-06-27T08:00:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"hours": [
								8
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_DeleteRecordsBefore18Months')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STr_DynamicCampaigns')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_DynamicCampaigns",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-07-13T06:18:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								13
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_DynamicCampaigns')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STr_Transaction')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_TransactionTransfer",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 3,
						"startTime": "2023-06-06T14:51:00Z",
						"endTime": "2023-07-12T07:30:24Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_TransactionTransfer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tr_DataTransfer')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_InactiveEAgreementNumberDataTransfer",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-06-26T12:02:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								9
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_InactiveEAgreementNumberDataTransfer')]"
			]
		}
	]
}