ALT-ADF/linkedTemplates/ArmTemplate_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ALT-ADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_Transaction_StagingUAT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Transaction_UAT_UATSQL_Server_Connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "AccountNumber",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "AccountTransactionNumber",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "TransactionID",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "TransactionFiscalDate",
						"type": "date"
					},
					{
						"name": "TransactionDateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "TransactionEffectiveDate",
						"type": "date"
					},
					{
						"name": "TransactionTypeCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionType",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatusCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatus",
						"type": "nvarchar"
					},
					{
						"name": "TransactionDescription",
						"type": "nvarchar"
					},
					{
						"name": "SubAcctNbr",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "BalCatCd",
						"type": "nvarchar"
					},
					{
						"name": "BalTypCd",
						"type": "nvarchar"
					},
					{
						"name": "BalanceDescription",
						"type": "nvarchar"
					},
					{
						"name": "Amount",
						"type": "decimal",
						"precision": 38,
						"scale": 3
					},
					{
						"name": "TranAmt",
						"type": "decimal",
						"precision": 38,
						"scale": 3
					},
					{
						"name": "Balance",
						"type": "decimal",
						"precision": 38,
						"scale": 3
					},
					{
						"name": "CheckNbr",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "TraceNbr",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Transactions_Staging"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DynamicCampaigns_UAT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyCampaignMembers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncateCampaignMemberStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlMISink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PartyCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PartyCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "MemberStatusGroup",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MemberStatusGroup",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MembershipOpenDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "MembershipOpenDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "MembershipType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MembershipType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ZIPCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ZIPCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BirthDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "BirthDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "MarketingOptOut",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "MarketingOptOut",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "NewMemberFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "NewMemberFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "OnlineBankingUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "OnlineBankingUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "MobileAppUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "MobileAppUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "QuickAccessUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "QuickAccessUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "EStatementsUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "EStatementsUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "BillPayUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "BillPayUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "ScheduledTransferUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "ScheduledTransferUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "RemoteDepositUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "RemoteDepositUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "SendMoneyUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "SendMoneyUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "MobileWalletUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "MobileWalletUserFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Region",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BranchNumber",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "BranchNumber",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "BranchName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "BranchName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CountryCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CountryCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AFAMemberFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "AFAMemberFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SS_DynamicCampaignMembers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_StagingCampign_Members_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyCampaignLoan",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncateCampaignLoanStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlMISink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "LoanID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LoanID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "PartyCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PartyCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoanStatusGroup",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LoanStatusGroup",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoanFamilyCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LoanFamilyCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoanTypeCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LoanTypeCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LoanOpenDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "LoanOpenDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "LoanCloseDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "LoanCloseDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "CurrentBalance",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "CurrentBalance",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										}
									},
									{
										"source": {
											"name": "CreditLimit",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "CreditLimit",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										}
									},
									{
										"source": {
											"name": "LoanMaturityDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "LoanMaturityDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SS_DynamicCampaignLoan",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_StagingCampaign_Loan_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyCampaignLoanServices",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncateCampaignLoanServicesStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlMISink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AsOfDate"
										},
										"sink": {
											"name": "AsOfDate"
										}
									},
									{
										"source": {
											"name": "LoanFamilyCode"
										},
										"sink": {
											"name": "LoanFamilyCode"
										}
									},
									{
										"source": {
											"name": "LoanTypeCode"
										},
										"sink": {
											"name": "LoanTypeCode"
										}
									},
									{
										"source": {
											"name": "LoanTypeDescription"
										},
										"sink": {
											"name": "LoanTypeDescription"
										}
									},
									{
										"source": {
											"name": "BusinessLoanFlag"
										},
										"sink": {
											"name": "BusinessLoanFlag"
										}
									},
									{
										"source": {
											"name": "LoanGroup1"
										},
										"sink": {
											"name": "LoanGroup1"
										}
									},
									{
										"source": {
											"name": "LoanGroup2"
										},
										"sink": {
											"name": "LoanGroup2"
										}
									},
									{
										"source": {
											"name": "LoanGroup3"
										},
										"sink": {
											"name": "LoanGroup3"
										}
									},
									{
										"source": {
											"name": "LoanGroup4"
										},
										"sink": {
											"name": "LoanGroup4"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SS_DynamicCampaignLoanServices",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_StagingCampaign_LoanServices_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyCampaignshare",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncateCampaignShareStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlMISink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ShareID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "PartyCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PartyCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareStatusGroup",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareStatusGroup",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareTypeGroupCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareTypeGroupCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareTypeCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareTypeCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareOpenDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "ShareOpenDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "ShareCloseDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "ShareCloseDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "CurrentBalance",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										},
										"sink": {
											"name": "CurrentBalance",
											"type": "Decimal",
											"physicalType": "money",
											"scale": 4,
											"precision": 19
										}
									},
									{
										"source": {
											"name": "ShareMaturityDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "ShareMaturityDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SS_DynamicCampaignShare",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_StagingCampaign_Share_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyCampaignShareServices",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncateCampaignShareServicesStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlMISink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "AsOfDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "ShareTypeGroupCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareTypeGroupCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareTypeCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareTypeCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareTypeDescription",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareTypeDescription",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BusinessShareFlag",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "BusinessShareFlag",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "ShareGroup1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareGroup1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareGroup2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareGroup2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareGroup3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareGroup3",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ShareGroup4",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ShareGroup4",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_SS_DynamicCampaignShareServices",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_StagingCampaign_ShareServices_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "TruncateCampaignMemberStaging",
						"description": "TruncateCampaignMemberStaging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "Truncate table dbo.CampaignMemberStaging;\nselect count(*) from dbo.CampaignMemberStaging",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_StagingCampign_Members_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignLoanStaging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "Truncate table dbo.CampaignLoanStaging;\nselect count(*) from  dbo.CampaignLoanStaging ",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_StagingCampaign_Loan_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignLoanServicesStaging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "TRUNCATE TABLE dbo.CampaignLoanServicesStaging;\nselect count(*) from dbo.CampaignLoanServicesStaging;",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_StagingCampaign_LoanServices_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignShareStaging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "TRUNCATE TABLE dbo.CampaignShareStaging;\nselect count(*) from dbo.CampaignShareStaging;",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_StagingCampaign_Share_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignShareServicesStaging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "TRUNCATE TABLE dbo.CampaignShareServicesStaging;\nselect count(*) from dbo.CampaignShareServicesStaging",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_StagingCampaign_ShareServices_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignMember",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CopyCampaignMembers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignMember;\nselect count(*) from CampaignMember",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DynamicCampaign_Members_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignLoan",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CopyCampaignLoan",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignLoan;\nselect count(*) from CampaignLoan",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DynamicCampaign_Loan_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignLoanServices",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CopyCampaignLoanServices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignLoanServices;\nselect count(*) from CampaignLoanServices",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DynamicCampaign_LoanServices_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignShare",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CopyCampaignshare",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignShare;\nselect count(*) from CampaignShare",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DynamicCampaign_Share_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TruncateCampaignShareServices",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "CopyCampaignShareServices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "TRUNCATE TABLE CampaignShareServices;\nselect count(*) from CampaignShareServices",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DynamicCampaign_ShareServices_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Sp_InsertMemberStagingToMember",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "TruncateCampaignMember",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertFromCampaignMemberStagingToCampaignMember]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Sp_InsertLoanStagingToLoan",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "TruncateCampaignLoan",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertFromCampaignLoanStagingToCampaignLoan]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Sp_InsertLoanServicesStagingToLoanServices",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "TruncateCampaignLoanServices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertFromCampaignLoanServicesStagingToCampaignLoanServices]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Sp_InsertShareStagingToShare",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "TruncateCampaignShare",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertFromCampaignShareStagingToCampaignShare]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Sp_InsertShareServicesStagingToShareServices",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "TruncateCampaignShareServices",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertFromcampaignShareServicesStagingToCampaignShareServices]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-08-02T09:08:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_InactiveEAgreementNumberDataTransfer_UAT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DNA Active Agreement Data Transfor",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate the DNAActiveAgrmntData table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SqlMISink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AGREENBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "AGREENBR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PERSNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "PERSNBR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "BYORGNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "BYORGNBR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DATELASTMAINT",
											"type": "DateTime"
										},
										"sink": {
											"name": "DATELASTMAINT",
											"type": "DateTime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_O_Connectivity_InactiveEagreement",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_InsertDataToActiveAgreement_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate the DNAActiveAgrmntData table",
						"description": "Truncate the DNAActiveAgrmntData table;\n",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "TRUNCATE TABLE dbo.DNAActiveAgrmntData;\nSELECT COUNT(*) FROM dbo.DNAActiveAgrmntData",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_InsertDataToActiveAgreement_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-08-02T08:02:20Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_PromocodeReordsTransfer_UAT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Source to Staging_Maintenance",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate MiniOAOPromocodeMaintenance_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlMISink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "PromoCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PromoCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SavingsAccount",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "SavingsAccount",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "CheckingAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "CheckingAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "CertificateAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "CertificateAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "MoneyMarketAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "MoneyMarketAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "PromoType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PromoType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Promotion",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Promotion",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Promo Start Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Promo Start Date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Administrator I",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Administrator I",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Administrator II",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Administrator II",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Approvers Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Approvers Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Expiration Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Expiration Date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Platforms Impacted",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Platforms Impacted",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Age From",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Age From",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Age To",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Age To",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Existing Products",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Existing Products",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Existing Products Checking Types",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Existing Products Checking Types",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Zip Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zip Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Open Office",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Open Office",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Balance History Amount",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Balance History Amount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Balance History Period",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Balance History Period",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Opening Date From",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Opening Date From",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Opening Date To",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Opening Date To",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Transaction Type",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Transaction Type",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Transaction Details",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Transaction Details",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transaction Details Period",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Transaction Details Period",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Completed Date From",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Completed Date From",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Completed Date To",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Completed Date To",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Criteria",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Criteria",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Can Qualify more than once",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Can Qualify more than once",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Reward Type",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Reward Type",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Disclosures",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Disclosures",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transaction Details within",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Transaction Details within",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Rate",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Rate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Promotion Type Youth",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Promotion Type Youth",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Balance History",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Balance History",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Checkings",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Checkings",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Savings",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Savings",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ActiveInactive",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ActiveInactive",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "HubID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "HubID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Promo Category",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Promo Category",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DetailsQualifications",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DetailsQualifications",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Marketing Materials",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Marketing Materials",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Market",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Market",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CreatedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreatedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ModifiedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ModifiedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Reward Amount",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Reward Amount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Minimum Balance",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Minimum Balance",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Aggregate Transaction Amount",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Aggregate Transaction Amount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "New Account Deposit Amount",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "New Account Deposit Amount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Aggregate Days",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Aggregate Days",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Aggregate No",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Aggregate No",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member Status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Member Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Applicable Region or Market",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Applicable Region or Market",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UId",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										},
										"sink": {
											"name": "UId",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Source",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Source",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_ss_PromoCodeMaintenance",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_MiniOAOPromocodeMaintenance_Staging_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate MiniOAOPromocodeMaintenance_Staging",
						"description": "Truncate MiniOAOPromocodeMaintenance_Staging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "TRUNCATE TABLE [dbo].[MiniOAOPromocodeMaintenance_Staging];\nselect count(*) from [dbo].[MiniOAOPromocodeMaintenance_Staging];",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_MiniOAOPromocodeMaintenance_Staging_UAT",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate MiniOAOPromoStaticData_Staging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "TRUNCATE TABLE [dbo].[MiniOAOPromoStaticData_Staging];\nselect count(*) from [dbo].[MiniOAOPromoStaticData_Staging];",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_MiniOAOPromoStaticDataStaging_UAT",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Copy Source to Staging_Static",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate MiniOAOPromoStaticData_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlMISink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Display Value",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Display Value",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Group",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Group",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Is Active",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Is Active",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_ss_PromocodeStatic",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_MiniOAOPromoStaticDataStaging_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_Maintenance",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Source to Staging_Maintenance",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_MiniOAOPromoMaintenanceStagingInserttoMiniOAOPromoMaintenance]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_StaticData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Source to Staging_Static",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_MiniOAOPromoStaticDataStagingInserttoMiniOAOPromoStaticData]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-08-02T08:02:20Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TransactionTransfersUAT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cd_AltratoDigitalBankingTransactionTransfers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate the Transactions staging table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT * FROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS WHERE TRANSACTIONID > @{variables('transid')} ",
									"type": "Expression"
								},
								"partitionOption": "None",
								"convertDecimalToInteger": false,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SqlMISink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ACCOUNTNUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "AccountNumber",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "ACCOUNTTRANSACTIONNUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "AccountTransactionNumber",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONID",
											"type": "Decimal"
										},
										"sink": {
											"name": "TransactionID",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONFISCALDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionFiscalDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONDATETIME",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONEFFECTIVEDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionEffectiveDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONTYPECODE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONTYPE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONSTATUSCODE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionStatusCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONDESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "TransactionDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SUBACCTNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "SubAcctNbr",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "BALCATCD",
											"type": "String"
										},
										"sink": {
											"name": "BalCatCd",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BALTYPCD",
											"type": "String"
										},
										"sink": {
											"name": "BalTypCd",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BALANCEDESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "BalanceDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "Amount",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "TRANAMT",
											"type": "Double"
										},
										"sink": {
											"name": "TranAmt",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "BALANCE",
											"type": "String"
										},
										"sink": {
											"name": "Balance",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "CHECKNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "CheckNbr",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "TRACENBR",
											"type": "String"
										},
										"sink": {
											"name": "TraceNbr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_O_AltraServerConnectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_Transaction_StagingUAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Fetch the last TransId",
						"description": "Fetch the last TransId",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "SELECT MAX(TRANSACTIONID) AS MAXTRANSID FROM TRANSACTIONS WITH (NOLOCK)",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_TransactionRecord_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Fetch the last TransId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "transid",
							"value": {
								"value": "@string(activity('Fetch the last TransId').output.firstRow.MAXTRANSID)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "sp_InsertTransaction",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cd_AltratoDigitalBankingTransactionTransfers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SP_TransactionData]"
						},
						"linkedServiceName": {
							"referenceName": "Transaction_UAT_UATSQL_Server_Connection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Truncate the Transactions staging table",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "TRUNCATE TABLE Transactions_Staging;\nselect count(*) from Transactions_Staging",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_Transaction_StagingUAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "fetch the transactionId",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "sp_InsertTransaction",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "SELECT MAX(TRANSACTIONID) AS MAXTRANSID FROM TRANSACTIONS",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_TransactionRecord_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Upperlimit trans id",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "fetch the transactionId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "transidlimit",
							"value": {
								"value": "@string(activity('fetch the transactionId').output.firstRow.MAXTRANSID)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If no new records are there",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Upperlimit trans id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('transid'), variables('transidlimit'))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "TruncateAlertStaging",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlMISource",
											"sqlReaderQuery": "TRUNCATE TABLE Transaction_AlertStaging;\nselect count(*) from Transaction_AlertStaging",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "ds_S_InsertDataToAlerts_UAT",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Transfer_StagingData_Alerts",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "TruncateAlertStaging",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "SELECT * FROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS WHERE TRANSACTIONID > @{variables('transid')} and transactionId <= @{variables('transidlimit')}",
												"type": "Expression"
											},
											"partitionOption": "None",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "SqlMISink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "ACCOUNTNUMBER",
														"type": "Decimal"
													},
													"sink": {
														"name": "AccountNumber",
														"type": "Decimal",
														"physicalType": "decimal"
													}
												},
												{
													"source": {
														"name": "ACCOUNTTRANSACTIONNUMBER",
														"type": "Decimal"
													},
													"sink": {
														"name": "AccountTransactionNumber",
														"type": "Decimal",
														"physicalType": "decimal"
													}
												},
												{
													"source": {
														"name": "TRANSACTIONID",
														"type": "Decimal"
													},
													"sink": {
														"name": "TransactionID",
														"type": "Decimal",
														"physicalType": "decimal"
													}
												},
												{
													"source": {
														"name": "TRANSACTIONFISCALDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "TransactionFiscalDate",
														"type": "DateTime",
														"physicalType": "date"
													}
												},
												{
													"source": {
														"name": "TRANSACTIONDATETIME",
														"type": "DateTime"
													},
													"sink": {
														"name": "TransactionDateTime",
														"type": "DateTime",
														"physicalType": "datetime"
													}
												},
												{
													"source": {
														"name": "TRANSACTIONEFFECTIVEDATE",
														"type": "DateTime"
													},
													"sink": {
														"name": "TransactionEffectiveDate",
														"type": "DateTime",
														"physicalType": "date"
													}
												},
												{
													"source": {
														"name": "TRANSACTIONTYPECODE",
														"type": "String"
													},
													"sink": {
														"name": "TransactionTypeCode",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "TRANSACTIONTYPE",
														"type": "String"
													},
													"sink": {
														"name": "TransactionType",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "TRANSACTIONSTATUSCODE",
														"type": "String"
													},
													"sink": {
														"name": "TransactionStatusCode",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "TRANSACTIONSTATUS",
														"type": "String"
													},
													"sink": {
														"name": "TransactionStatus",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "TRANSACTIONDESCRIPTION",
														"type": "String"
													},
													"sink": {
														"name": "TransactionDescription",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "SUBACCTNBR",
														"type": "Decimal"
													},
													"sink": {
														"name": "SubAcctNbr",
														"type": "Decimal",
														"physicalType": "decimal"
													}
												},
												{
													"source": {
														"name": "BALCATCD",
														"type": "String"
													},
													"sink": {
														"name": "BalCatCd",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "BALTYPCD",
														"type": "String"
													},
													"sink": {
														"name": "BalTypCd",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "BALANCEDESCRIPTION",
														"type": "String"
													},
													"sink": {
														"name": "BalanceDescription",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "AMOUNT",
														"type": "Double"
													},
													"sink": {
														"name": "Amount",
														"type": "Decimal",
														"physicalType": "decimal"
													}
												},
												{
													"source": {
														"name": "TRANAMT",
														"type": "Double"
													},
													"sink": {
														"name": "TranAmt",
														"type": "Decimal",
														"physicalType": "decimal"
													}
												},
												{
													"source": {
														"name": "BALANCE",
														"type": "String"
													},
													"sink": {
														"name": "Balance",
														"type": "Decimal",
														"physicalType": "decimal"
													}
												},
												{
													"source": {
														"name": "CHECKNBR",
														"type": "Decimal"
													},
													"sink": {
														"name": "CheckNbr",
														"type": "Decimal",
														"physicalType": "decimal"
													}
												},
												{
													"source": {
														"name": "TRACENBR",
														"type": "String"
													},
													"sink": {
														"name": "TraceNbr",
														"type": "String",
														"physicalType": "nvarchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_O_AltraServerConnectivity",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_S_InsertDataToAlerts_UAT",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Insert to AlertTransaction",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Transfer_StagingData_Alerts",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[InsertTransactionAlertFromStaging]"
									},
									"linkedServiceName": {
										"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"transid": {
						"type": "String",
						"defaultValue": "0"
					},
					"subacctnbr": {
						"type": "String",
						"defaultValue": "0"
					},
					"transidlimit": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-08-02T09:08:30Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_S_Transaction_StagingUAT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TransactionsTransfersUAT_Reverted')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cd_AltratoDigitalBankingTransfers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate the staging table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT * FROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS WHERE TRANSACTIONID > @{variables('transid')} ",
									"type": "Expression"
								},
								"partitionOption": "None",
								"convertDecimalToInteger": false,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "SqlMISink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ACCOUNTNUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "AccountNumber",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "ACCOUNTTRANSACTIONNUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "AccountTransactionNumber",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TRANSACTIONID",
											"type": "Decimal"
										},
										"sink": {
											"name": "TransactionID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TRANSACTIONFISCALDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionFiscalDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONDATETIME",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONEFFECTIVEDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionEffectiveDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONTYPECODE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONTYPE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONSTATUSCODE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionStatusCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONDESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "TransactionDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SUBACCTNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "SubAcctNbr",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "BALCATCD",
											"type": "String"
										},
										"sink": {
											"name": "BalCatCd",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BALTYPCD",
											"type": "String"
										},
										"sink": {
											"name": "BalTypCd",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BALANCEDESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "BalanceDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "TRANAMT",
											"type": "Double"
										},
										"sink": {
											"name": "TranAmt",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "BALANCE",
											"type": "String"
										},
										"sink": {
											"name": "Balance",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "CHECKNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "CheckNbr",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TRACENBR",
											"type": "String"
										},
										"sink": {
											"name": "TraceNbr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_O_AltraServerConnectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_Transaction_StagingUAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Fetch the last TransId",
						"description": "Fetch the last TransId",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "SELECT MAX(TRANSACTIONID) AS MAXTRANSID FROM TRANSACTIONS WITH (NOLOCK)",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_TransactionRecord_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Fetch the last TransId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "transid",
							"value": {
								"value": "@string(activity('Fetch the last TransId').output.firstRow.MAXTRANSID)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "sp_InsertTransaction",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cd_AltratoDigitalBankingTransfers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SP_TransactionData]"
						},
						"linkedServiceName": {
							"referenceName": "Transaction_UAT_UATSQL_Server_Connection",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Truncate the staging table",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "TRUNCATE TABLE Transactions_Staging;\nselect count(*) from Transactions_Staging",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_Transaction_StagingUAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Transfer_StagingData_Alerts",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncateAlertStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"partitionOption": "None"
							},
							"sink": {
								"type": "SqlMISink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AccountNumber",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										},
										"sink": {
											"name": "AccountNumber",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "AccountTransactionNumber",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										},
										"sink": {
											"name": "AccountTransactionNumber",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TransactionID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										},
										"sink": {
											"name": "TransactionID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TransactionFiscalDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TransactionFiscalDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TransactionDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "TransactionDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "TransactionEffectiveDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TransactionEffectiveDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionStatusCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionStatusCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionDescription",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubAcctNbr",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										},
										"sink": {
											"name": "SubAcctNbr",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "BalCatCd",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BalCatCd",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BalTypCd",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BalTypCd",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BalanceDescription",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BalanceDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										},
										"sink": {
											"name": "Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "TranAmt",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										},
										"sink": {
											"name": "TranAmt",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "Balance",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										},
										"sink": {
											"name": "Balance",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "CheckNbr",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										},
										"sink": {
											"name": "CheckNbr",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TraceNbr",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TraceNbr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_S_Transaction_StagingUAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_InsertDataToAlerts_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "TruncateAlertStaging",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "cd_AltratoDigitalBankingTransfers",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlMISource",
								"sqlReaderQuery": "TRUNCATE TABLE Transaction_AlertStaging;\nselect count(*) from Transaction_AlertStaging",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_InsertDataToAlerts_UAT",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Insert to AlertTransaction",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transfer_StagingData_Alerts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertTransactionAlertFromStaging]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"transid": {
						"type": "String",
						"defaultValue": "0"
					},
					"subacctnbr": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-08-02T09:08:30Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_S_Transaction_StagingUAT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Str_DeleteRecordsBefore18Months')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_DeleteRecordsBefore18Months",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PL_DeleteRecordsBefore18Months_UAT",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-06-27T08:00:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"hours": [
								8
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STr_DynamicCampaigns')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_DynamicCampaignsDev",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PL_DynamicCampaigns",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PL_DynamicCampaigns_UAT",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-07-13T06:18:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								13
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_DynamicCampaigns_UAT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STr_PromocodeRecordsTransfer')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_PromocodeReordsTransferDev",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PL_PromocodeReordsTransfer",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PL_PromocodeReordsTransfer_UAT",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-07-20T13:30:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								13
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_PromocodeReordsTransfer_UAT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/STr_Transaction')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_TransactionTransferQA",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PL_TransactionsTransfersDEV",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PL_TransactionTransfersUAT",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 3,
						"startTime": "2023-06-06T14:51:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_TransactionTransfersUAT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tr_DataTransfer')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_InactiveEAgreementNumberDataTransferDev",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PL_InactiveEAgreementNumberDataTransfer",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PL_InactiveEAgreementNumberDataTransfer_UAT",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-06-26T12:02:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								9
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_InactiveEAgreementNumberDataTransfer_UAT')]"
			]
		}
	]
}