ALT-ADF/linkedTemplates/ArmTemplate_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ALT-ADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_PromocodeReordsTransfer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Source to Staging_Maintenance",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate MiniOAOPromocodeMaintenance_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "PromoCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PromoCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SavingsAccount",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "SavingsAccount",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "CheckingAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "CheckingAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "CertificateAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "CertificateAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "MoneyMarketAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "MoneyMarketAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "PromoType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PromoType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Promotion",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Promotion",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Promo Start Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Promo Start Date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Administrator I",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Administrator I",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Administrator II",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Administrator II",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Approvers Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Approvers Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Expiration Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Expiration Date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Platforms Impacted",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Platforms Impacted",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Age From",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Age From",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Age To",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Age To",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Existing Products",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Existing Products",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Existing Products Checking Types",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Existing Products Checking Types",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Zip Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zip Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Open Office",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Open Office",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Balance History Amount",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Balance History Amount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Balance History Period",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Balance History Period",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Opening Date From",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Opening Date From",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Opening Date To",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Opening Date To",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Transaction Type",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Transaction Type",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Transaction Details",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Transaction Details",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transaction Details Period",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Transaction Details Period",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Completed Date From",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Completed Date From",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Completed Date To",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Completed Date To",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Criteria",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Criteria",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Can Qualify more than once",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Can Qualify more than once",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Reward Type",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Reward Type",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Disclosures",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Disclosures",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transaction Details within",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Transaction Details within",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Rate",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Rate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Promotion Type Youth",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Promotion Type Youth",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Balance History",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Balance History",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Checkings",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Checkings",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Savings",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Savings",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ActiveInactive",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ActiveInactive",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "HubID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "HubID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Promo Category",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Promo Category",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DetailsQualifications",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DetailsQualifications",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Marketing Materials",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Marketing Materials",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Market",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Market",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CreatedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreatedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ModifiedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ModifiedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Reward Amount",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Reward Amount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Minimum Balance",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Minimum Balance",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Aggregate Transaction Amount",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Aggregate Transaction Amount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "New Account Deposit Amount",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "New Account Deposit Amount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Aggregate Days",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Aggregate Days",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Aggregate No",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Aggregate No",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member Status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Member Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Applicable Region or Market",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Applicable Region or Market",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UId",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										},
										"sink": {
											"name": "UId",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Source",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Source",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_ss_PromoCodeMaintenance",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_MiniOAOPromocodeMaintenanceStaging",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate MiniOAOPromocodeMaintenance_Staging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE [dbo].[MiniOAOPromocodeMaintenance_Staging];\nselect count(*) from [dbo].[MiniOAOPromocodeMaintenance_Staging];",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_MiniOAOPromocodeMaintenanceStaging",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate MiniOAOPromoStaticData_Staging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE [dbo].[MiniOAOPromoStaticData_Staging];\r\nselect count(*) from [dbo].[MiniOAOPromoStaticData_Staging];",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_MiniOAOPromoStaticData_Staging",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Copy Source to Staging_Static",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate MiniOAOPromoStaticData_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Display Value",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Display Value",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Group",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Group",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Is Active",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Is Active",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_ss_PromocodeStatic",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_MiniOAOPromoStaticData_Staging",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_Maintenance",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Source to Staging_Maintenance",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_MiniOAOPromoMaintenanceStagingInserttoMiniOAOPromoMaintenance]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessData",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_StaticData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Source to Staging_Static",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_MiniOAOPromoStaticDataStagingInserttoMiniOAOPromoStaticData]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessData",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-08-02T08:02:20Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_PromocodeReordsTransferDev')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Source to Staging_Maintenance",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate MiniOAOPromocodeMaintenance_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "PromoCode",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PromoCode",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SavingsAccount",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "SavingsAccount",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "CheckingAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "CheckingAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "CertificateAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "CertificateAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "MoneyMarketAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "MoneyMarketAccounts",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "PromoType",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PromoType",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Promotion",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Promotion",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Promo Start Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Promo Start Date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Administrator I",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Administrator I",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Administrator II",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Administrator II",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Approvers Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Approvers Name",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Expiration Date",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Expiration Date",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Platforms Impacted",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Platforms Impacted",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Age From",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Age From",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Age To",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Age To",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Existing Products",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Existing Products",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Existing Products Checking Types",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Existing Products Checking Types",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Zip Code",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Zip Code",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Open Office",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Open Office",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Balance History Amount",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Balance History Amount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Balance History Period",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Balance History Period",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Opening Date From",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Opening Date From",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Opening Date To",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Opening Date To",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Transaction Type",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Transaction Type",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Transaction Details",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Transaction Details",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transaction Details Period",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Transaction Details Period",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Completed Date From",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Completed Date From",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Completed Date To",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "Completed Date To",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "Criteria",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Criteria",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Can Qualify more than once",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Can Qualify more than once",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Reward Type",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Reward Type",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Disclosures",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Disclosures",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Transaction Details within",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Transaction Details within",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Rate",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Rate",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Promotion Type Youth",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Promotion Type Youth",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Balance History",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Balance History",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Checkings",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Checkings",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Savings",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Savings",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ActiveInactive",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ActiveInactive",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "HubID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "HubID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Promo Category",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Promo Category",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DetailsQualifications",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "DetailsQualifications",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Marketing Materials",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Marketing Materials",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Market",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Market",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CreatedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CreatedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreatedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ModifiedBy",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ModifiedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "ModifiedOn",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Reward Amount",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Reward Amount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Minimum Balance",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Minimum Balance",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Aggregate Transaction Amount",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Aggregate Transaction Amount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "New Account Deposit Amount",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "New Account Deposit Amount",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Aggregate Days",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Aggregate Days",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Aggregate No",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Aggregate No",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Member Status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Member Status",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Applicable Region or Market",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Applicable Region or Market",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UId",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										},
										"sink": {
											"name": "UId",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Source",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Source",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_ss_PromoCodeMaintenance",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_MiniOAOPromocodeMaintenanceStaging_DEV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Truncate MiniOAOPromocodeMaintenance_Staging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE [dbo].[MiniOAOPromocodeMaintenance_Staging];\nselect count(*) from [dbo].[MiniOAOPromocodeMaintenance_Staging];",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_MiniOAOPromocodeMaintenanceStaging_DEV",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Truncate MiniOAOPromoStaticData_Staging",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE [dbo].[MiniOAOPromoStaticData_Staging];\r\nselect count(*) from [dbo].[MiniOAOPromoStaticData_Staging];",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_MiniOAOPromoStaticData_Staging_DEV",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Copy Source to Staging_Static",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate MiniOAOPromoStaticData_Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Display Value",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Display Value",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Group",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Group",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Is Active",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Is Active",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_ss_PromocodeStatic",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_MiniOAOPromoStaticData_Staging_DEV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sp_Maintenance",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Source to Staging_Maintenance",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_MiniOAOPromoMaintenanceStagingInserttoMiniOAOPromoMaintenance]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDataDev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_StaticData",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy Source to Staging_Static",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_MiniOAOPromoStaticDataStagingInserttoMiniOAOPromoStaticData]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDataDev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-08-02T08:02:20Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TransactionTransfer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cd_AltratoDigitalBankingTransfers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate the staging table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT * FROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS WHERE TRANSACTIONID > @{variables('transid')} ",
									"type": "Expression"
								},
								"partitionOption": "None",
								"convertDecimalToInteger": false,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ACCOUNTNUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "AccountNumber",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "ACCOUNTTRANSACTIONNUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "AccountTransactionNumber",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TRANSACTIONID",
											"type": "Decimal"
										},
										"sink": {
											"name": "TransactionID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TRANSACTIONFISCALDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionFiscalDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONDATETIME",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONEFFECTIVEDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionEffectiveDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONTYPECODE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONTYPE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONSTATUSCODE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionStatusCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONDESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "TransactionDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SUBACCTNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "SubAcctNbr",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "BALCATCD",
											"type": "String"
										},
										"sink": {
											"name": "BalCatCd",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BALTYPCD",
											"type": "String"
										},
										"sink": {
											"name": "BalTypCd",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BALANCEDESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "BalanceDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "TRANAMT",
											"type": "Double"
										},
										"sink": {
											"name": "TranAmt",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "BALANCE",
											"type": "String"
										},
										"sink": {
											"name": "Balance",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "CHECKNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "CheckNbr",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TRACENBR",
											"type": "String"
										},
										"sink": {
											"name": "TraceNbr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_O_AltraServerConnectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_DigitalBankingConectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Fetch the last TransId",
						"description": "Fetch last transaction Id from transaction table of transactions",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT MAX(TRANSACTIONID) AS MAXTRANSID FROM TRANSACTIONS",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DigitalBankingTransactionRecord",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Fetch the last TransId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "transid",
							"value": {
								"value": "@string(activity('Fetch the last TransId').output.firstRow.MAXTRANSID)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "sp_InsertTransaction",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cd_AltratoDigitalBankingTransfers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SP_TransactionData]"
						},
						"linkedServiceName": {
							"referenceName": "ls_transactiondb",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Truncate the staging table",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE Transactions_Staging;\nselect count(*) from Transactions_Staging",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DigitalBankingConectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Transfer_StagingData_Alerts",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncateAlertStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AccountNumber",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										},
										"sink": {
											"name": "AccountNumber",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "AccountTransactionNumber",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										},
										"sink": {
											"name": "AccountTransactionNumber",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TransactionID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										},
										"sink": {
											"name": "TransactionID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TransactionFiscalDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TransactionFiscalDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TransactionDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "TransactionDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "TransactionEffectiveDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TransactionEffectiveDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionStatusCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionStatusCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionDescription",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubAcctNbr",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										},
										"sink": {
											"name": "SubAcctNbr",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "BalCatCd",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BalCatCd",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BalTypCd",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BalTypCd",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BalanceDescription",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BalanceDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										},
										"sink": {
											"name": "Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "TranAmt",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										},
										"sink": {
											"name": "TranAmt",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "Balance",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										},
										"sink": {
											"name": "Balance",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "CheckNbr",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										},
										"sink": {
											"name": "CheckNbr",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TraceNbr",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TraceNbr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_S_DigitalBankingConectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_InsertDataToAlerts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "TruncateAlertStaging",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "cd_AltratoDigitalBankingTransfers",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE Transaction_AlertStaging;\nselect count(*) from Transaction_AlertStaging",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_InsertDataToAlerts",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Insert to AlertTransaction",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transfer_StagingData_Alerts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertTransactionAlertFromStaging]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDataDev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "TruncateAlertStagingQA",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "cd_AltratoDigitalBankingTransfers",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE Transaction_AlertStaging;\nselect count(*) from Transaction_AlertStaging",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_InsertDataToAlertsQA",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Transfer_StagingData_AlertsQA",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncateAlertStagingQA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AccountNumber",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										},
										"sink": {
											"name": "AccountNumber",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "AccountTransactionNumber",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										},
										"sink": {
											"name": "AccountTransactionNumber",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TransactionID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										},
										"sink": {
											"name": "TransactionID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TransactionFiscalDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TransactionFiscalDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TransactionDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "TransactionDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "TransactionEffectiveDate",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "TransactionEffectiveDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionStatusCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionStatusCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionDescription",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubAcctNbr",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										},
										"sink": {
											"name": "SubAcctNbr",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "BalCatCd",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BalCatCd",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BalTypCd",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BalTypCd",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BalanceDescription",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "BalanceDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										},
										"sink": {
											"name": "Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "TranAmt",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										},
										"sink": {
											"name": "TranAmt",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "Balance",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										},
										"sink": {
											"name": "Balance",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "CheckNbr",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										},
										"sink": {
											"name": "CheckNbr",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TraceNbr",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TraceNbr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_S_DigitalBankingConectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_InsertDataToAlertsQA",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Insert to AlertTransactionQA",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transfer_StagingData_AlertsQA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertTransactionAlertFromStaging]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDataQA",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"transid": {
						"type": "String",
						"defaultValue": "0"
					},
					"subacctnbr": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-07-20T10:50:19Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TransactionTransferQA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cd_AltratoDigitalBankingTransfers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate the staging table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT * FROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS WHERE TRANSACTIONID > @{variables('transid')} ",
									"type": "Expression"
								},
								"partitionOption": "None",
								"convertDecimalToInteger": false,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ACCOUNTNUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "AccountNumber",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "ACCOUNTTRANSACTIONNUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "AccountTransactionNumber",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TRANSACTIONID",
											"type": "Decimal"
										},
										"sink": {
											"name": "TransactionID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TRANSACTIONFISCALDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionFiscalDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONDATETIME",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONEFFECTIVEDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionEffectiveDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONTYPECODE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONTYPE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONSTATUSCODE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionStatusCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONDESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "TransactionDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SUBACCTNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "SubAcctNbr",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "BALCATCD",
											"type": "String"
										},
										"sink": {
											"name": "BalCatCd",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BALTYPCD",
											"type": "String"
										},
										"sink": {
											"name": "BalTypCd",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BALANCEDESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "BalanceDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "TRANAMT",
											"type": "Double"
										},
										"sink": {
											"name": "TranAmt",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "BALANCE",
											"type": "String"
										},
										"sink": {
											"name": "Balance",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "CHECKNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "CheckNbr",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TRACENBR",
											"type": "String"
										},
										"sink": {
											"name": "TraceNbr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_O_AltraServerConnectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_DigitalBankingConectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Fetch the last TransId",
						"description": "Fetch the last TransId",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT MAX(TRANSACTIONID) AS MAXTRANSID FROM TRANSACTIONS",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DigitalBankingTransactionRecord",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Fetch the last TransId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "transid",
							"value": {
								"value": "@string(activity('Fetch the last TransId').output.firstRow.MAXTRANSID)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "sp_InsertTransaction",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cd_AltratoDigitalBankingTransfers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SP_TransactionData]"
						},
						"linkedServiceName": {
							"referenceName": "ls_transactiondb",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Truncate the staging table",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE Transactions_Staging;\nselect count(*) from Transactions_Staging",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DigitalBankingConectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Transfer_StagingData_Alerts",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncateAlertStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT * FROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS WHERE TRANSACTIONID > @{variables('transid')} ",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ACCOUNTNUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "AccountNumber",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "ACCOUNTTRANSACTIONNUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "AccountTransactionNumber",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TRANSACTIONID",
											"type": "Decimal"
										},
										"sink": {
											"name": "TransactionID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TRANSACTIONFISCALDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionFiscalDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONDATETIME",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONEFFECTIVEDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionEffectiveDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONTYPECODE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONTYPE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONSTATUSCODE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionStatusCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONDESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "TransactionDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SUBACCTNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "SubAcctNbr",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "BALCATCD",
											"type": "String"
										},
										"sink": {
											"name": "BalCatCd",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BALTYPCD",
											"type": "String"
										},
										"sink": {
											"name": "BalTypCd",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BALANCEDESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "BalanceDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "TRANAMT",
											"type": "Double"
										},
										"sink": {
											"name": "TranAmt",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "BALANCE",
											"type": "String"
										},
										"sink": {
											"name": "Balance",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "CHECKNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "CheckNbr",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TRACENBR",
											"type": "String"
										},
										"sink": {
											"name": "TraceNbr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_O_AltraServerConnectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_InsertDataToAlertsQA",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "TruncateAlertStaging",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set variable",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE Transaction_AlertStaging;\nselect count(*) from Transaction_AlertStaging",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_InsertDataToAlertsQA",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Insert to AlertTransaction",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transfer_StagingData_Alerts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertTransactionAlertFromStaging]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDataQA",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"transid": {
						"type": "String",
						"defaultValue": "0"
					},
					"subacctnbr": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-08-02T09:08:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TransactionsTransfersDEV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fetch the last TransId",
						"description": "Fetch the last TransId",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT MAX(TRANSACTIONID) AS MAXTRANSID FROM TRANSACTIONS",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DigitalBankingTransactionRecord",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Fetch the last TransId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "transid",
							"value": {
								"value": "@string(activity('Fetch the last TransId').output.firstRow.MAXTRANSID)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Transfer_StagingData_Alerts",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TruncateAlertStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT * FROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS WHERE TRANSACTIONID > @{variables('transid')} ",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ACCOUNTNUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "AccountNumber",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "ACCOUNTTRANSACTIONNUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "AccountTransactionNumber",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TRANSACTIONID",
											"type": "Decimal"
										},
										"sink": {
											"name": "TransactionID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TRANSACTIONFISCALDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionFiscalDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONDATETIME",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionDateTime",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONEFFECTIVEDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionEffectiveDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONTYPECODE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONTYPE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONSTATUSCODE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionStatusCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONDESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "TransactionDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SUBACCTNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "SubAcctNbr",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "BALCATCD",
											"type": "String"
										},
										"sink": {
											"name": "BalCatCd",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BALTYPCD",
											"type": "String"
										},
										"sink": {
											"name": "BalTypCd",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BALANCEDESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "BalanceDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "Amount",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "TRANAMT",
											"type": "Double"
										},
										"sink": {
											"name": "TranAmt",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "BALANCE",
											"type": "String"
										},
										"sink": {
											"name": "Balance",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 38
										}
									},
									{
										"source": {
											"name": "CHECKNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "CheckNbr",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "TRACENBR",
											"type": "String"
										},
										"sink": {
											"name": "TraceNbr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_O_AltraServerConnectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_InsertDataToAlerts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "TruncateAlertStaging",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set variable",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE Transaction_AlertStaging;\nselect count(*) from Transaction_AlertStaging",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_InsertDataToAlerts",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Insert to AlertTransaction",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Transfer_StagingData_Alerts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertTransactionAlertFromStaging]"
						},
						"linkedServiceName": {
							"referenceName": "BusinessDataDev",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"transid": {
						"type": "String",
						"defaultValue": "0"
					},
					"subacctnbr": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-08-02T09:08:30Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_DynamicCampaign_LoanServices_UAT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "LoanFamilyCode",
						"type": "varchar"
					},
					{
						"name": "LoanTypeCode",
						"type": "varchar"
					},
					{
						"name": "LoanTypeDescription",
						"type": "varchar"
					},
					{
						"name": "BusinessLoanFlag",
						"type": "bit"
					},
					{
						"name": "LoanGroup1",
						"type": "varchar"
					},
					{
						"name": "LoanGroup2",
						"type": "varchar"
					},
					{
						"name": "LoanGroup3",
						"type": "varchar"
					},
					{
						"name": "LoanGroup4",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CampaignLoanServices"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_DynamicCampaign_Loan_UAT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LoanID",
						"type": "varchar"
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "PartyCode",
						"type": "varchar"
					},
					{
						"name": "LoanStatusGroup",
						"type": "varchar"
					},
					{
						"name": "LoanFamilyCode",
						"type": "varchar"
					},
					{
						"name": "LoanTypeCode",
						"type": "varchar"
					},
					{
						"name": "LoanOpenDate",
						"type": "date"
					},
					{
						"name": "LoanCloseDate",
						"type": "date"
					},
					{
						"name": "CurrentBalance",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "CreditLimit",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "LoanMaturityDate",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CampaignLoan"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_DynamicCampaign_Members_UAT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PartyCode",
						"type": "varchar"
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "MemberStatusGroup",
						"type": "varchar"
					},
					{
						"name": "MembershipOpenDate",
						"type": "date"
					},
					{
						"name": "MembershipType",
						"type": "varchar"
					},
					{
						"name": "ZIPCode",
						"type": "varchar"
					},
					{
						"name": "City",
						"type": "varchar"
					},
					{
						"name": "State",
						"type": "varchar"
					},
					{
						"name": "BirthDate",
						"type": "date"
					},
					{
						"name": "MarketingOptOut",
						"type": "bit"
					},
					{
						"name": "NewMemberFlag",
						"type": "bit"
					},
					{
						"name": "OnlineBankingUserFlag",
						"type": "bit"
					},
					{
						"name": "MobileAppUserFlag",
						"type": "bit"
					},
					{
						"name": "QuickAccessUserFlag",
						"type": "bit"
					},
					{
						"name": "EStatementsUserFlag",
						"type": "bit"
					},
					{
						"name": "BillPayUserFlag",
						"type": "bit"
					},
					{
						"name": "ScheduledTransferUserFlag",
						"type": "bit"
					},
					{
						"name": "RemoteDepositUserFlag",
						"type": "bit"
					},
					{
						"name": "SendMoneyUserFlag",
						"type": "bit"
					},
					{
						"name": "MobileWalletUserFlag",
						"type": "bit"
					},
					{
						"name": "Region",
						"type": "varchar"
					},
					{
						"name": "BranchNumber",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BranchName",
						"type": "varchar"
					},
					{
						"name": "CountryCode",
						"type": "varchar"
					},
					{
						"name": "AFAMemberFlag",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CampaignMember"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_DynamicCampaign_ShareServices_UAT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "ShareTypeGroupCode",
						"type": "varchar"
					},
					{
						"name": "ShareTypeCode",
						"type": "varchar"
					},
					{
						"name": "ShareTypeDescription",
						"type": "varchar"
					},
					{
						"name": "BusinessShareFlag",
						"type": "bit"
					},
					{
						"name": "ShareGroup1",
						"type": "varchar"
					},
					{
						"name": "ShareGroup2",
						"type": "varchar"
					},
					{
						"name": "ShareGroup3",
						"type": "varchar"
					},
					{
						"name": "ShareGroup4",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CampaignShareServices"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_DynamicCampaign_Share_UAT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ShareID",
						"type": "varchar"
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "PartyCode",
						"type": "varchar"
					},
					{
						"name": "ShareStatusGroup",
						"type": "varchar"
					},
					{
						"name": "ShareTypeGroupCode",
						"type": "varchar"
					},
					{
						"name": "ShareTypeCode",
						"type": "varchar"
					},
					{
						"name": "ShareOpenDate",
						"type": "date"
					},
					{
						"name": "ShareCloseDate",
						"type": "date"
					},
					{
						"name": "CurrentBalance",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "ShareMaturityDate",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CampaignShare"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_InsertDataToActiveAgreement_UAT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AGREENBR",
						"type": "varchar"
					},
					{
						"name": "PERSNBR",
						"type": "varchar"
					},
					{
						"name": "BYORGNBR",
						"type": "varchar"
					},
					{
						"name": "DATELASTMAINT",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "DNAActiveAgrmntData"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_InsertDataToAlerts_UAT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "AccountNumber",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "AccountTransactionNumber",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "TransactionID",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "TransactionFiscalDate",
						"type": "date"
					},
					{
						"name": "TransactionDateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "TransactionEffectiveDate",
						"type": "date"
					},
					{
						"name": "TransactionTypeCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionType",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatusCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatus",
						"type": "nvarchar"
					},
					{
						"name": "TransactionDescription",
						"type": "nvarchar"
					},
					{
						"name": "SubAcctNbr",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "BalCatCd",
						"type": "nvarchar"
					},
					{
						"name": "BalTypCd",
						"type": "nvarchar"
					},
					{
						"name": "BalanceDescription",
						"type": "nvarchar"
					},
					{
						"name": "Amount",
						"type": "decimal",
						"precision": 38,
						"scale": 3
					},
					{
						"name": "TranAmt",
						"type": "decimal",
						"precision": 38,
						"scale": 3
					},
					{
						"name": "Balance",
						"type": "decimal",
						"precision": 38,
						"scale": 3
					},
					{
						"name": "CheckNbr",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "TraceNbr",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Transaction_AlertStaging"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_MiniOAOPromoStaticDataStaging_UAT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Display Value",
						"type": "varchar"
					},
					{
						"name": "Type",
						"type": "varchar"
					},
					{
						"name": "Group",
						"type": "varchar"
					},
					{
						"name": "Description",
						"type": "varchar"
					},
					{
						"name": "Is Active",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MiniOAOPromoStaticData_Staging"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_MiniOAOPromocodeMaintenance_Staging_UAT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "Id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PromoCode",
						"type": "varchar"
					},
					{
						"name": "SavingsAccount",
						"type": "bit"
					},
					{
						"name": "CheckingAccounts",
						"type": "bit"
					},
					{
						"name": "CertificateAccounts",
						"type": "bit"
					},
					{
						"name": "MoneyMarketAccounts",
						"type": "bit"
					},
					{
						"name": "PromoType",
						"type": "varchar"
					},
					{
						"name": "Promotion",
						"type": "varchar"
					},
					{
						"name": "Status",
						"type": "varchar"
					},
					{
						"name": "Promo Start Date",
						"type": "date"
					},
					{
						"name": "Administrator I",
						"type": "varchar"
					},
					{
						"name": "Administrator II",
						"type": "varchar"
					},
					{
						"name": "Approvers Name",
						"type": "varchar"
					},
					{
						"name": "Expiration Date",
						"type": "date"
					},
					{
						"name": "Platforms Impacted",
						"type": "varchar"
					},
					{
						"name": "Age From",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Age To",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Existing Products",
						"type": "varchar"
					},
					{
						"name": "Existing Products Checking Types",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Zip Code",
						"type": "varchar"
					},
					{
						"name": "Open Office",
						"type": "varchar"
					},
					{
						"name": "Balance History Amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Balance History Period",
						"type": "varchar"
					},
					{
						"name": "Opening Date From",
						"type": "date"
					},
					{
						"name": "Opening Date To",
						"type": "date"
					},
					{
						"name": "Transaction Type",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Transaction Details",
						"type": "varchar"
					},
					{
						"name": "Transaction Details Period",
						"type": "varchar"
					},
					{
						"name": "Completed Date From",
						"type": "date"
					},
					{
						"name": "Completed Date To",
						"type": "date"
					},
					{
						"name": "Criteria",
						"type": "varchar"
					},
					{
						"name": "Can Qualify more than once",
						"type": "bit"
					},
					{
						"name": "Reward Type",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Disclosures",
						"type": "varchar"
					},
					{
						"name": "Transaction Details within",
						"type": "varchar"
					},
					{
						"name": "Rate",
						"type": "varchar"
					},
					{
						"name": "Promotion Type Youth",
						"type": "varchar"
					},
					{
						"name": "Balance History",
						"type": "varchar"
					},
					{
						"name": "Checkings",
						"type": "varchar"
					},
					{
						"name": "Savings",
						"type": "varchar"
					},
					{
						"name": "ActiveInactive",
						"type": "varchar"
					},
					{
						"name": "HubID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Promo Category",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DetailsQualifications",
						"type": "varchar"
					},
					{
						"name": "Marketing Materials",
						"type": "varchar"
					},
					{
						"name": "Market",
						"type": "varchar"
					},
					{
						"name": "CreatedBy",
						"type": "varchar"
					},
					{
						"name": "CreatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ModifiedBy",
						"type": "varchar"
					},
					{
						"name": "ModifiedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Reward Amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Minimum Balance",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Aggregate Transaction Amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "New Account Deposit Amount",
						"type": "float",
						"precision": 15
					},
					{
						"name": "Aggregate Days",
						"type": "varchar"
					},
					{
						"name": "Aggregate No",
						"type": "varchar"
					},
					{
						"name": "Member Status",
						"type": "varchar"
					},
					{
						"name": "Applicable Region or Market",
						"type": "varchar"
					},
					{
						"name": "UId",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "Source",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MiniOAOPromocodeMaintenance_Staging"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_StagingCampaign_LoanServices_UAT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "LoanFamilyCode",
						"type": "varchar"
					},
					{
						"name": "LoanTypeCode",
						"type": "varchar"
					},
					{
						"name": "LoanTypeDescription",
						"type": "varchar"
					},
					{
						"name": "BusinessLoanFlag",
						"type": "bit"
					},
					{
						"name": "LoanGroup1",
						"type": "varchar"
					},
					{
						"name": "LoanGroup2",
						"type": "varchar"
					},
					{
						"name": "LoanGroup3",
						"type": "varchar"
					},
					{
						"name": "LoanGroup4",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CampaignLoanServicesStaging"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_StagingCampaign_Loan_UAT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LoanID",
						"type": "varchar"
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "PartyCode",
						"type": "varchar"
					},
					{
						"name": "LoanStatusGroup",
						"type": "varchar"
					},
					{
						"name": "LoanFamilyCode",
						"type": "varchar"
					},
					{
						"name": "LoanTypeCode",
						"type": "varchar"
					},
					{
						"name": "LoanOpenDate",
						"type": "date"
					},
					{
						"name": "LoanCloseDate",
						"type": "date"
					},
					{
						"name": "CurrentBalance",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "CreditLimit",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "LoanMaturityDate",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CampaignLoanStaging"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_StagingCampaign_ShareServices_UAT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "ShareTypeGroupCode",
						"type": "varchar"
					},
					{
						"name": "ShareTypeCode",
						"type": "varchar"
					},
					{
						"name": "ShareTypeDescription",
						"type": "varchar"
					},
					{
						"name": "BusinessShareFlag",
						"type": "bit"
					},
					{
						"name": "ShareGroup1",
						"type": "varchar"
					},
					{
						"name": "ShareGroup2",
						"type": "varchar"
					},
					{
						"name": "ShareGroup3",
						"type": "varchar"
					},
					{
						"name": "ShareGroup4",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CampaignShareServicesStaging"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_StagingCampaign_Share_UAT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ShareID",
						"type": "varchar"
					},
					{
						"name": "AsOfDate",
						"type": "date"
					},
					{
						"name": "PartyCode",
						"type": "varchar"
					},
					{
						"name": "ShareStatusGroup",
						"type": "varchar"
					},
					{
						"name": "ShareTypeGroupCode",
						"type": "varchar"
					},
					{
						"name": "ShareTypeCode",
						"type": "varchar"
					},
					{
						"name": "ShareOpenDate",
						"type": "date"
					},
					{
						"name": "ShareCloseDate",
						"type": "date"
					},
					{
						"name": "CurrentBalance",
						"type": "money",
						"precision": 19,
						"scale": 4
					},
					{
						"name": "ShareMaturityDate",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CampaignShareStaging"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_StagingCampign_Members_UAT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BusinessDATAUAT_UATPRODSQL_Server_Connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "CampaignMemberStaging"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_S_TransactionRecord_UAT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Transaction_UAT_UATSQL_Server_Connection",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlMITable",
				"schema": [
					{
						"name": "AccountNumber",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "AccountTransactionNumber",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "TransactionID",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "TransactionFiscalDate",
						"type": "date"
					},
					{
						"name": "TransactionDateTime",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "TransactionEffectiveDate",
						"type": "date"
					},
					{
						"name": "TransactionTypeCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionType",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatusCode",
						"type": "nvarchar"
					},
					{
						"name": "TransactionStatus",
						"type": "nvarchar"
					},
					{
						"name": "TransactionDescription",
						"type": "nvarchar"
					},
					{
						"name": "SubAcctNbr",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "BalCatCd",
						"type": "nvarchar"
					},
					{
						"name": "BalTypCd",
						"type": "nvarchar"
					},
					{
						"name": "BalanceDescription",
						"type": "nvarchar"
					},
					{
						"name": "Amount",
						"type": "decimal",
						"precision": 38,
						"scale": 3
					},
					{
						"name": "TranAmt",
						"type": "decimal",
						"precision": 38,
						"scale": 3
					},
					{
						"name": "Balance",
						"type": "decimal",
						"precision": 38,
						"scale": 3
					},
					{
						"name": "CheckNbr",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "TraceNbr",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Transactions"
				}
			},
			"dependsOn": []
		}
	]
}