ALT-ADF/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ALT-ADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_TransactionTransfer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cd_AltratoDigitalBankingTransfers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate the staging table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT * FROM DNACUSTOM.VW_DIGITALBANKINGTRANSACTIONS WHERE TRANSACTIONID > @{variables('transid')}",
									"type": "Expression"
								},
								"partitionOption": "None",
								"convertDecimalToInteger": false,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ACCOUNTNUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "AccountNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ACCOUNTTRANSACTIONNUMBER",
											"type": "Decimal"
										},
										"sink": {
											"name": "AccountTransactionNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONID",
											"type": "Decimal"
										},
										"sink": {
											"name": "TransactionID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONFISCALDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionFiscalDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONDATETIME",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionDateTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONEFFECTIVEDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "TransactionEffectiveDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONTYPECODE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONTYPE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONSTATUSCODE",
											"type": "String"
										},
										"sink": {
											"name": "TransactionStatusCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONSTATUS",
											"type": "String"
										},
										"sink": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONDESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "TransactionDescription",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PRINCIPALAMOUNT",
											"type": "Double"
										},
										"sink": {
											"name": "PrincipalAmount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PRINCIPALBALANCE",
											"type": "String"
										},
										"sink": {
											"name": "PrincipalBalance",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LOANINTERESTAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "LoanInterestAmount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CHECKNBR",
											"type": "Decimal"
										},
										"sink": {
											"name": "CHECKNBR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LOANESCROWAMOUNT",
											"type": "Decimal"
										},
										"sink": {
											"name": "LoanESCrowAmount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_O_AltraServerConnectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_DigitalBankingConectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Fetch the last TransId",
						"description": "Fetch last transaction Id in database",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT MAX(TRANSACTIONID) AS MAXTRANSID FROM TRANSACTIONS",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DigitalBankingConectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Fetch the last TransId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "transid",
							"value": {
								"value": "@string(activity('Fetch the last TransId').output.firstRow.MAXTRANSID)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "sp_InsertTransaction",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "cd_AltratoDigitalBankingTransfers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[SP_TransactionData]"
						},
						"linkedServiceName": {
							"referenceName": "ls_transactiondb",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Truncate the staging table",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "TRUNCATE TABLE Transaction_Staging;\nselect count(*) from Transaction_Staging",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_S_DigitalBankingConectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Transfer_StagingData_Alerts",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "cd_AltratoDigitalBankingTransfers",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select *,'CoreAPI - Pending' as Status from [dbo].[Transaction_Staging]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AccountNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AccountNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AccountTransactionNumber",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "AccountTransactionNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionFiscalDate",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionFiscalDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionDateTime",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionDateTime",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionEffectiveDate",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionEffectiveDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionTypeCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TransactionSortIndex",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "TransactionSortIndex",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PrincipalAmount",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PrincipalAmount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PrincipalBalance",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "PrincipalBalance",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LoanInterestAmount",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "LoanInterestAmount",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_S_DigitalBankingConectivity",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_S_InsertDataToAlerts",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"transid": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-06-22T14:14:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Str_DeleteRecordsBefore18Months')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_DeleteRecordsBefore18Months",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-06-27T08:00:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"hours": [
								8
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/STr_Transaction')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_TransactionTransfer",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 3,
						"startTime": "2023-06-06T14:51:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_TransactionTransfer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tr_DataTransfer')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_InactiveEAgreementNumberDataTransfer",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-06-26T12:02:00",
						"timeZone": "India Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								9
							]
						}
					}
				}
			},
			"dependsOn": []
		}
	]
}